<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Applications/Utilities/Terminal.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1440</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>86447</string>
		<key>version</key>
		<string>2.8.2</string>
	</dict>
	<key>/System/Library/CoreServices/Finder.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1440</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>86447</string>
		<key>version</key>
		<string>10.13.5</string>
	</dict>
	<key>/System/Library/CoreServices/ScreenSaverEngine.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>700</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>42041</string>
		<key>version</key>
		<string>5.0</string>
	</dict>
	<key>/System/Library/CoreServices/loginwindow.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1440</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>86447</string>
		<key>version</key>
		<string>9.0</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/BD3146DD-C0D0-4479-9268-ED524B6276DA/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>700</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>42041</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
</dict>
</plist>
