<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Applications/Photo Booth.app</key>
	<dict>
		<key>foremost</key>
		<string>2</string>
		<key>open</key>
		<string>365</string>
		<key>secondsforemost</key>
		<string>120</string>
		<key>secondsopen</key>
		<string>21901</string>
		<key>version</key>
		<string>9.0</string>
	</dict>
	<key>/Applications/Preview.app</key>
	<dict>
		<key>foremost</key>
		<string>5</string>
		<key>open</key>
		<string>797</string>
		<key>secondsforemost</key>
		<string>332</string>
		<key>secondsopen</key>
		<string>47855</string>
		<key>version</key>
		<string>10.0</string>
	</dict>
	<key>/Applications/Utilities/Disk Utility.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>422</string>
		<key>secondsforemost</key>
		<string>7</string>
		<key>secondsopen</key>
		<string>25348</string>
		<key>version</key>
		<string>17.0.3</string>
	</dict>
	<key>/Applications/Utilities/Terminal.app</key>
	<dict>
		<key>foremost</key>
		<string>49</string>
		<key>open</key>
		<string>891</string>
		<key>secondsforemost</key>
		<string>2973</string>
		<key>secondsopen</key>
		<string>53471</string>
		<key>version</key>
		<string>2.8.2</string>
	</dict>
	<key>/System/Library/CoreServices/Captive Network Assistant.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>346</string>
		<key>secondsforemost</key>
		<string>23</string>
		<key>secondsopen</key>
		<string>20767</string>
		<key>version</key>
		<string>5.0</string>
	</dict>
	<key>/System/Library/CoreServices/Finder.app</key>
	<dict>
		<key>foremost</key>
		<string>7</string>
		<key>open</key>
		<string>893</string>
		<key>secondsforemost</key>
		<string>434</string>
		<key>secondsopen</key>
		<string>53627</string>
		<key>version</key>
		<string>10.13.5</string>
	</dict>
	<key>/System/Library/CoreServices/SystemUIServer.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>805</string>
		<key>secondsforemost</key>
		<string>7</string>
		<key>secondsopen</key>
		<string>48341</string>
		<key>version</key>
		<string>1.7</string>
	</dict>
	<key>/System/Library/CoreServices/loginwindow.app</key>
	<dict>
		<key>foremost</key>
		<string>62</string>
		<key>open</key>
		<string>857</string>
		<key>secondsforemost</key>
		<string>3727</string>
		<key>secondsopen</key>
		<string>51423</string>
		<key>version</key>
		<string>9.0</string>
	</dict>
	<key>/Users/boesene/Applications/Firefox Nightly.app</key>
	<dict>
		<key>foremost</key>
		<string>217</string>
		<key>open</key>
		<string>893</string>
		<key>secondsforemost</key>
		<string>13065</string>
		<key>secondsopen</key>
		<string>53623</string>
		<key>version</key>
		<string>66.0a1</string>
	</dict>
	<key>/Users/boesene/Applications/GRIP.app</key>
	<dict>
		<key>foremost</key>
		<string>12</string>
		<key>open</key>
		<string>381</string>
		<key>secondsforemost</key>
		<string>725</string>
		<key>secondsopen</key>
		<string>22910</string>
		<key>version</key>
		<string>v1.5.2-x64</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/DDD96004-497E-4F0D-AE9C-323B02D5E779/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>2</string>
		<key>open</key>
		<string>479</string>
		<key>secondsforemost</key>
		<string>125</string>
		<key>secondsopen</key>
		<string>28765</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
</dict>
</plist>
