<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Applications/Logger Pro 3/Logger Pro.app</key>
	<dict>
		<key>foremost</key>
		<string>23</string>
		<key>open</key>
		<string>603</string>
		<key>secondsforemost</key>
		<string>1407</string>
		<key>secondsopen</key>
		<string>36220</string>
		<key>version</key>
		<string>3.8.5.1</string>
	</dict>
	<key>/Applications/Preview.app</key>
	<dict>
		<key>foremost</key>
		<string>3</string>
		<key>open</key>
		<string>495</string>
		<key>secondsforemost</key>
		<string>219</string>
		<key>secondsopen</key>
		<string>29715</string>
		<key>version</key>
		<string>10.0</string>
	</dict>
	<key>/Applications/Utilities/Terminal.app</key>
	<dict>
		<key>foremost</key>
		<string>14</string>
		<key>open</key>
		<string>731</string>
		<key>secondsforemost</key>
		<string>882</string>
		<key>secondsopen</key>
		<string>43887</string>
		<key>version</key>
		<string>2.8.2</string>
	</dict>
	<key>/System/Library/CoreServices/Captive Network Assistant.app</key>
	<dict>
		<key>foremost</key>
		<string>2</string>
		<key>open</key>
		<string>476</string>
		<key>secondsforemost</key>
		<string>152</string>
		<key>secondsopen</key>
		<string>28571</string>
		<key>version</key>
		<string>5.0</string>
	</dict>
	<key>/System/Library/CoreServices/Finder.app</key>
	<dict>
		<key>foremost</key>
		<string>15</string>
		<key>open</key>
		<string>797</string>
		<key>secondsforemost</key>
		<string>921</string>
		<key>secondsopen</key>
		<string>47852</string>
		<key>version</key>
		<string>10.13.5</string>
	</dict>
	<key>/System/Library/CoreServices/loginwindow.app</key>
	<dict>
		<key>foremost</key>
		<string>9</string>
		<key>open</key>
		<string>830</string>
		<key>secondsforemost</key>
		<string>550</string>
		<key>secondsopen</key>
		<string>49839</string>
		<key>version</key>
		<string>9.0</string>
	</dict>
	<key>/Users/boesene/Applications/Firefox Nightly.app</key>
	<dict>
		<key>foremost</key>
		<string>435</string>
		<key>open</key>
		<string>820</string>
		<key>secondsforemost</key>
		<string>26122</string>
		<key>secondsopen</key>
		<string>49253</string>
		<key>version</key>
		<string>65.0a1</string>
	</dict>
	<key>/Users/boesene/Applications/Google Chrome.app</key>
	<dict>
		<key>foremost</key>
		<string>3</string>
		<key>open</key>
		<string>735</string>
		<key>secondsforemost</key>
		<string>232</string>
		<key>secondsopen</key>
		<string>44153</string>
		<key>version</key>
		<string>71.0.3578.98</string>
	</dict>
	<key>/Users/boesene/Library/Caches/Mozilla/updates/Users/boesene/Applications/Firefox Nightly/updates/0/updater.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>1</string>
		<key>secondsforemost</key>
		<string>11</string>
		<key>secondsopen</key>
		<string>99</string>
		<key>version</key>
		<string>1.0</string>
	</dict>
	<key>/Users/boesene/Library/Printers/GM-A123.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>714</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>42893</string>
		<key>version</key>
		<string>13.4</string>
	</dict>
</dict>
</plist>
