<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Applications/App Store.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1863</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>111807</string>
		<key>version</key>
		<string>2.4</string>
	</dict>
	<key>/Applications/Calculator.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1863</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>111807</string>
		<key>version</key>
		<string>34924628</string>
	</dict>
	<key>/Applications/Dictionary.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1863</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>111807</string>
		<key>version</key>
		<string>60184029</string>
	</dict>
	<key>/Applications/Image Capture.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1863</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>111807</string>
		<key>version</key>
		<string>39620668</string>
	</dict>
	<key>/Applications/Launchpad.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1863</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>111807</string>
		<key>version</key>
		<string>68534905</string>
	</dict>
	<key>/Applications/LockDown Browser.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1863</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>111807</string>
		<key>version</key>
		<string>2.0.3</string>
	</dict>
	<key>/Applications/Logger Pro 3/Logger Pro.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1863</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>111807</string>
		<key>version</key>
		<string>3.8.5.1</string>
	</dict>
	<key>/Applications/Mail.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1863</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>111807</string>
		<key>version</key>
		<string>11.4</string>
	</dict>
	<key>/Applications/McAfee Endpoint Protection for Mac.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1863</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>111807</string>
		<key>version</key>
		<string>2.3.0</string>
	</dict>
	<key>/Applications/Microsoft Outlook.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1863</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>111807</string>
		<key>version</key>
		<string>97808164</string>
	</dict>
	<key>/Applications/Preview.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1863</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>111807</string>
		<key>version</key>
		<string>10.0</string>
	</dict>
	<key>/Applications/Reminders.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1863</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>111807</string>
		<key>version</key>
		<string>88432559</string>
	</dict>
	<key>/Applications/Safari.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1863</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>111807</string>
		<key>version</key>
		<string>11.1.1</string>
	</dict>
	<key>/Applications/Self Service.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1863</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>111806</string>
		<key>version</key>
		<string>10.6.0</string>
	</dict>
	<key>/Applications/System Preferences.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1863</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>111807</string>
		<key>version</key>
		<string>14.0</string>
	</dict>
	<key>/Applications/TextEdit.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1863</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>111807</string>
		<key>version</key>
		<string>1.13</string>
	</dict>
	<key>/Applications/Time Machine.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1863</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>111807</string>
		<key>version</key>
		<string>5213745</string>
	</dict>
	<key>/Applications/Utilities/Activity Monitor.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1863</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>111806</string>
		<key>version</key>
		<string>10.13</string>
	</dict>
	<key>/Applications/Utilities/Adobe Flash Player Install Manager.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1863</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>111807</string>
		<key>version</key>
		<string>31.0.0.153</string>
	</dict>
	<key>/Applications/Utilities/Boot Camp Assistant.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1863</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>111806</string>
		<key>version</key>
		<string>51915145</string>
	</dict>
	<key>/Applications/Utilities/Grapher.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1863</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>111807</string>
		<key>version</key>
		<string>30685983</string>
	</dict>
	<key>/Applications/Utilities/Script Editor.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1863</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>111807</string>
		<key>version</key>
		<string>74586127</string>
	</dict>
	<key>/Applications/Utilities/Terminal.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1863</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>111807</string>
		<key>version</key>
		<string>2.8.2</string>
	</dict>
	<key>/Applications/iMovie.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1863</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>111807</string>
		<key>version</key>
		<string>92991582</string>
	</dict>
	<key>/Applications/iTunes.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1863</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>111807</string>
		<key>version</key>
		<string>12.8</string>
	</dict>
	<key>/Library/Frameworks/Python.framework/Versions/3.6/Resources/Python.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1863</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>111806</string>
		<key>version</key>
		<string>3.6.5</string>
	</dict>
	<key>/System/Library/CoreServices/Applications/Archive Utility.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>1863</string>
		<key>secondsforemost</key>
		<string>3</string>
		<key>secondsopen</key>
		<string>111810</string>
		<key>version</key>
		<string>10.10</string>
	</dict>
	<key>/System/Library/CoreServices/CoreServicesUIAgent.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1863</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>111807</string>
		<key>version</key>
		<string>180.7.6</string>
	</dict>
	<key>/System/Library/CoreServices/Problem Reporter.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1863</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>111807</string>
		<key>version</key>
		<string>10.13</string>
	</dict>
	<key>/System/Library/CoreServices/ScreenSaverEngine.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1863</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>111806</string>
		<key>version</key>
		<string>5.0</string>
	</dict>
	<key>/System/Library/CoreServices/UserNotificationCenter.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1863</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>111807</string>
		<key>version</key>
		<string>3.3.0</string>
	</dict>
	<key>/System/Library/Frameworks/QuickLook.framework/Versions/A/Resources/quicklookd.app/Contents/MacOS/qlmanage</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1863</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>111807</string>
		<key>version</key>
		<string>n/a</string>
	</dict>
	<key>/System/Library/Frameworks/Security.framework/Versions/A/MachServices/SecurityAgent.bundle</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1863</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>111807</string>
		<key>version</key>
		<string>9.0</string>
	</dict>
	<key>/Users/boesene/Applications/Firefox Nightly.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1863</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>111806</string>
		<key>version</key>
		<string>65.0a1</string>
	</dict>
	<key>/Users/boesene/Applications/Gimp-2.10.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1863</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>111807</string>
		<key>version</key>
		<string>2.10.4</string>
	</dict>
	<key>/Users/boesene/Applications/Gimp-2.10.app/Contents/Resources/lib/gimp/2.0/plug-ins/file-png</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1863</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>111807</string>
		<key>version</key>
		<string>n/a</string>
	</dict>
	<key>/Users/boesene/Applications/Google Chrome.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1863</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>111807</string>
		<key>version</key>
		<string>70.0.3538.110</string>
	</dict>
	<key>/Users/boesene/Library/Printers/GM-Library Lab.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1863</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>111807</string>
		<key>version</key>
		<string>13.4</string>
	</dict>
	<key>/Users/boesene/src/2018-dashboard/node_modules/electron/dist/Electron.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1863</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>111807</string>
		<key>version</key>
		<string>1.7.10</string>
	</dict>
	<key>/Users/boesene/src/VictiScout/node_modules/electron/dist/Electron.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1863</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>111806</string>
		<key>version</key>
		<string>1.8.8</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/5A51467B-F212-44B3-AD75-696E7DE8F5BE/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1863</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>111807</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/931D1597-B0FE-4AB1-85A4-64436FD3EE5F/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1863</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>111807</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/C3B3A511-8E46-4057-A89B-0164E3E230C1/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1336</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>80179</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/EFF251E6-8352-499D-A70E-19A438576463/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1863</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>111807</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/FA01E1C8-F07A-4D40-8BAE-CDDEDC9414F5/d/GitHub Desktop.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>321</string>
		<key>secondsforemost</key>
		<string>1</string>
		<key>secondsopen</key>
		<string>19284</string>
		<key>version</key>
		<string>1.5.0</string>
	</dict>
	<key>/var/folders/zz/zyxvpxvq6csfxvn_n0000000000000/T/FPUnpackPath/Install Adobe Flash Player.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1863</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>111806</string>
		<key>version</key>
		<string>32.0.0.101</string>
	</dict>
</dict>
</plist>
