<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Applications/Microsoft PowerPoint.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>270</string>
		<key>secondsforemost</key>
		<string>6</string>
		<key>secondsopen</key>
		<string>16243</string>
		<key>version</key>
		<string>15.29.16120900</string>
	</dict>
	<key>/Applications/Photo Booth.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>703</string>
		<key>secondsforemost</key>
		<string>35</string>
		<key>secondsopen</key>
		<string>42208</string>
		<key>version</key>
		<string>9.0</string>
	</dict>
	<key>/Applications/Preview.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>701</string>
		<key>secondsforemost</key>
		<string>12</string>
		<key>secondsopen</key>
		<string>42114</string>
		<key>version</key>
		<string>10.0</string>
	</dict>
	<key>/Applications/System Preferences.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>515</string>
		<key>secondsforemost</key>
		<string>7</string>
		<key>secondsopen</key>
		<string>30913</string>
		<key>version</key>
		<string>14.0</string>
	</dict>
	<key>/Applications/Utilities/Disk Utility.app</key>
	<dict>
		<key>foremost</key>
		<string>2</string>
		<key>open</key>
		<string>666</string>
		<key>secondsforemost</key>
		<string>124</string>
		<key>secondsopen</key>
		<string>40014</string>
		<key>version</key>
		<string>17.0.3</string>
	</dict>
	<key>/System/Library/Frameworks/QuickLook.framework/Versions/A/Resources/quicklookd.app/Contents/MacOS/qlmanage</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>686</string>
		<key>secondsforemost</key>
		<string>1</string>
		<key>secondsopen</key>
		<string>41202</string>
		<key>version</key>
		<string>n/a</string>
	</dict>
	<key>/Users/boesene/Applications/Gimp-2.10.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>295</string>
		<key>secondsforemost</key>
		<string>7</string>
		<key>secondsopen</key>
		<string>17756</string>
		<key>version</key>
		<string>2.10.4</string>
	</dict>
	<key>/Users/boesene/Applications/Gimp-2.10.app/Contents/Resources/lib/gimp/2.0/plug-ins/file-png</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>418</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>25105</string>
		<key>version</key>
		<string>n/a</string>
	</dict>
	<key>/Users/boesene/Library/Printers/GM-Library Lab.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>702</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>42176</string>
		<key>version</key>
		<string>13.4</string>
	</dict>
</dict>
</plist>
