<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Applications/Microsoft PowerPoint.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>1</string>
		<key>secondsforemost</key>
		<string>3</string>
		<key>secondsopen</key>
		<string>14</string>
		<key>version</key>
		<string>15.29.16120900</string>
	</dict>
	<key>/Applications/Preview.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>703</string>
		<key>secondsforemost</key>
		<string>69</string>
		<key>secondsopen</key>
		<string>42222</string>
		<key>version</key>
		<string>10.0</string>
	</dict>
	<key>/Applications/System Preferences.app</key>
	<dict>
		<key>foremost</key>
		<string>2</string>
		<key>open</key>
		<string>650</string>
		<key>secondsforemost</key>
		<string>143</string>
		<key>secondsopen</key>
		<string>39015</string>
		<key>version</key>
		<string>14.0</string>
	</dict>
	<key>/Applications/Utilities/Terminal.app</key>
	<dict>
		<key>foremost</key>
		<string>45</string>
		<key>open</key>
		<string>732</string>
		<key>secondsforemost</key>
		<string>2746</string>
		<key>secondsopen</key>
		<string>43947</string>
		<key>version</key>
		<string>2.8.2</string>
	</dict>
	<key>/System/Library/CoreServices/Finder.app</key>
	<dict>
		<key>foremost</key>
		<string>10</string>
		<key>open</key>
		<string>735</string>
		<key>secondsforemost</key>
		<string>654</string>
		<key>secondsopen</key>
		<string>44129</string>
		<key>version</key>
		<string>10.13.5</string>
	</dict>
	<key>/System/Library/CoreServices/loginwindow.app</key>
	<dict>
		<key>foremost</key>
		<string>10</string>
		<key>open</key>
		<string>702</string>
		<key>secondsforemost</key>
		<string>651</string>
		<key>secondsopen</key>
		<string>42174</string>
		<key>version</key>
		<string>9.0</string>
	</dict>
	<key>/Users/boesene/Applications/Firefox Nightly.app</key>
	<dict>
		<key>foremost</key>
		<string>106</string>
		<key>open</key>
		<string>735</string>
		<key>secondsforemost</key>
		<string>6388</string>
		<key>secondsopen</key>
		<string>44105</string>
		<key>version</key>
		<string>66.0a1</string>
	</dict>
	<key>/Users/boesene/Applications/Gimp-2.10.app</key>
	<dict>
		<key>foremost</key>
		<string>5</string>
		<key>open</key>
		<string>427</string>
		<key>secondsforemost</key>
		<string>315</string>
		<key>secondsopen</key>
		<string>25630</string>
		<key>version</key>
		<string>2.10.4</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/447CE4F7-496F-4B4A-A0BC-B3270458E229/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>3</string>
		<key>open</key>
		<string>501</string>
		<key>secondsforemost</key>
		<string>221</string>
		<key>secondsopen</key>
		<string>30073</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
</dict>
</plist>
