<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Applications/LockDown Browser.app</key>
	<dict>
		<key>foremost</key>
		<string>15</string>
		<key>open</key>
		<string>1941</string>
		<key>secondsforemost</key>
		<string>914</string>
		<key>secondsopen</key>
		<string>116489</string>
		<key>version</key>
		<string>2.0.3</string>
	</dict>
	<key>/Applications/Mail.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1926</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>115576</string>
		<key>version</key>
		<string>11.4</string>
	</dict>
	<key>/Applications/Preview.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1926</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>115576</string>
		<key>version</key>
		<string>10.0</string>
	</dict>
	<key>/Applications/System Preferences.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>1927</string>
		<key>secondsforemost</key>
		<string>32</string>
		<key>secondsopen</key>
		<string>115621</string>
		<key>version</key>
		<string>14.0</string>
	</dict>
	<key>/Applications/Utilities/System Information.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>92</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>5564</string>
		<key>version</key>
		<string>10.12</string>
	</dict>
	<key>/Applications/Utilities/Terminal.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>2019</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>121140</string>
		<key>version</key>
		<string>2.8.2</string>
	</dict>
	<key>/Applications/iTunes.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1926</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>115576</string>
		<key>version</key>
		<string>12.8</string>
	</dict>
	<key>/Library/Frameworks/Python.framework/Versions/3.6/Resources/Python.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1926</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>115576</string>
		<key>version</key>
		<string>3.6.5</string>
	</dict>
	<key>/System/Library/CoreServices/Dock.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>92</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>5564</string>
		<key>version</key>
		<string>1.8</string>
	</dict>
	<key>/System/Library/CoreServices/Finder.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>2019</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>121140</string>
		<key>version</key>
		<string>10.13.5</string>
	</dict>
	<key>/System/Library/CoreServices/ScreenSaverEngine.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>2019</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>121140</string>
		<key>version</key>
		<string>5.0</string>
	</dict>
	<key>/System/Library/CoreServices/loginwindow.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>2019</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>121140</string>
		<key>version</key>
		<string>9.0</string>
	</dict>
	<key>/System/Library/Frameworks/QuickLook.framework/Versions/A/Resources/quicklookd.app/Contents/MacOS/qlmanage</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1926</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>115576</string>
		<key>version</key>
		<string>n/a</string>
	</dict>
	<key>/System/Library/Frameworks/Security.framework/Versions/A/MachServices/SecurityAgent.bundle</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>2019</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>121140</string>
		<key>version</key>
		<string>9.0</string>
	</dict>
	<key>/Users/boesene/Applications/Firefox Nightly.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>2019</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>121140</string>
		<key>version</key>
		<string>67.0a1</string>
	</dict>
	<key>/Users/boesene/Applications/Gimp-2.10.app</key>
	<dict>
		<key>foremost</key>
		<string>13</string>
		<key>open</key>
		<string>1956</string>
		<key>secondsforemost</key>
		<string>799</string>
		<key>secondsopen</key>
		<string>117365</string>
		<key>version</key>
		<string>2.10.4</string>
	</dict>
	<key>/Users/boesene/Applications/Gimp-2.10.app/Contents/Resources/lib/gimp/2.0/plug-ins/file-jpeg</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>1926</string>
		<key>secondsforemost</key>
		<string>2</string>
		<key>secondsopen</key>
		<string>115578</string>
		<key>version</key>
		<string>n/a</string>
	</dict>
	<key>/Users/boesene/Applications/Gimp-2.10.app/Contents/Resources/lib/gimp/2.0/plug-ins/file-png</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>1926</string>
		<key>secondsforemost</key>
		<string>3</string>
		<key>secondsopen</key>
		<string>115579</string>
		<key>version</key>
		<string>n/a</string>
	</dict>
	<key>/Users/boesene/Library/Printers/GM-A123.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1926</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>115576</string>
		<key>version</key>
		<string>13.4</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/2199FB91-A4CF-458C-A673-C2375986DDA7/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1926</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>115576</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/28503F0A-9D82-4FAB-9A4C-F91F20F8ED4E/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1926</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>115576</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/BA9BC2A6-9BFD-45E6-AE5F-FABF4837717A/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1926</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>115576</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/F2E87460-32EB-48C3-9F3D-1839DFE5B188/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1926</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>115576</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/F706CDBD-992B-4A5D-9BA5-94FA9B098BDF/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>92</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>5564</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
</dict>
</plist>
