<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Applications/Install macOS Mojave.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1826</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109580</string>
		<key>version</key>
		<string>14.1.0</string>
	</dict>
	<key>/Applications/Mail.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1826</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109580</string>
		<key>version</key>
		<string>11.4</string>
	</dict>
	<key>/Applications/Microsoft PowerPoint.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1826</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109579</string>
		<key>version</key>
		<string>15.29.16120900</string>
	</dict>
	<key>/Applications/Photo Booth.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1826</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109580</string>
		<key>version</key>
		<string>9.0</string>
	</dict>
	<key>/Applications/Preview.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1826</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109580</string>
		<key>version</key>
		<string>10.0</string>
	</dict>
	<key>/Applications/Python 3.6/IDLE.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>957</string>
		<key>secondsforemost</key>
		<string>2</string>
		<key>secondsopen</key>
		<string>57427</string>
		<key>version</key>
		<string>3.6.5</string>
	</dict>
	<key>/Applications/QuickTime Player.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1826</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109579</string>
		<key>version</key>
		<string>10.4</string>
	</dict>
	<key>/Applications/System Preferences.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1826</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109580</string>
		<key>version</key>
		<string>14.0</string>
	</dict>
	<key>/Applications/Utilities/Disk Utility.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1826</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109580</string>
		<key>version</key>
		<string>17.0.3</string>
	</dict>
	<key>/Applications/Utilities/Script Editor.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1826</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109579</string>
		<key>version</key>
		<string>2.10</string>
	</dict>
	<key>/Applications/Utilities/Terminal.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1826</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109580</string>
		<key>version</key>
		<string>2.8.2</string>
	</dict>
	<key>/Applications/iMovie.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1826</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109580</string>
		<key>version</key>
		<string>10.1.9</string>
	</dict>
	<key>/Applications/iTunes.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>957</string>
		<key>secondsforemost</key>
		<string>3</string>
		<key>secondsopen</key>
		<string>57428</string>
		<key>version</key>
		<string>12.8</string>
	</dict>
	<key>/Library/Frameworks/Python.framework/Versions/3.6/Resources/Python.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>957</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>57431</string>
		<key>version</key>
		<string>3.6.5</string>
	</dict>
	<key>/System/Library/CoreServices/Captive Network Assistant.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1826</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109580</string>
		<key>version</key>
		<string>5.0</string>
	</dict>
	<key>/System/Library/CoreServices/SystemUIServer.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1826</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109580</string>
		<key>version</key>
		<string>1.7</string>
	</dict>
	<key>/System/Library/Frameworks/QuickLook.framework/Versions/A/Resources/quicklookd.app/Contents/MacOS/qlmanage</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>1840</string>
		<key>secondsforemost</key>
		<string>75</string>
		<key>secondsopen</key>
		<string>110410</string>
		<key>version</key>
		<string>n/a</string>
	</dict>
	<key>/Users/boesene/Applications/Gimp-2.10.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1826</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109580</string>
		<key>version</key>
		<string>2.10.4</string>
	</dict>
	<key>/Users/boesene/Applications/Gimp-2.10.app/Contents/Resources/lib/gimp/2.0/plug-ins/file-png</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1826</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109580</string>
		<key>version</key>
		<string>n/a</string>
	</dict>
	<key>/Users/boesene/Applications/Google Chrome.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>832</string>
		<key>secondsforemost</key>
		<string>11</string>
		<key>secondsopen</key>
		<string>49925</string>
		<key>version</key>
		<string>71.0.3578.98</string>
	</dict>
	<key>/Users/boesene/Library/Printers/GM-Library Lab.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1826</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109579</string>
		<key>version</key>
		<string>13.4</string>
	</dict>
	<key>/Users/boesene/src/2018-dashboard/node_modules/electron/dist/Electron.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1826</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109579</string>
		<key>version</key>
		<string>1.7.10</string>
	</dict>
	<key>/Users/boesene/src/VictiScout/node_modules/electron/dist/Electron.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1826</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109579</string>
		<key>version</key>
		<string>1.8.8</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/0D60BBE6-E87B-4010-8113-8AD9D050E9D2/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1826</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109579</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/DDE73B76-1E08-4593-916C-FC7B4FC4CFFB/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>143</string>
		<key>secondsforemost</key>
		<string>44</string>
		<key>secondsopen</key>
		<string>8598</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
</dict>
</plist>
