<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Applications/App Store.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1782</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>106952</string>
		<key>version</key>
		<string>2.4</string>
	</dict>
	<key>/Applications/LockDown Browser.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1782</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>106952</string>
		<key>version</key>
		<string>2.0.3</string>
	</dict>
	<key>/Applications/Logger Pro 3/Logger Pro.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1782</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>106952</string>
		<key>version</key>
		<string>3.8.5.1</string>
	</dict>
	<key>/Applications/Microsoft Excel.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1782</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>106951</string>
		<key>version</key>
		<string>15.29.16120900</string>
	</dict>
	<key>/Applications/Photo Booth.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1782</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>106954</string>
		<key>version</key>
		<string>9.0</string>
	</dict>
	<key>/Applications/Preview.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1782</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>106951</string>
		<key>version</key>
		<string>10.0</string>
	</dict>
	<key>/Applications/QuickTime Player.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1782</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>106953</string>
		<key>version</key>
		<string>10.4</string>
	</dict>
	<key>/Applications/System Preferences.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1782</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>106952</string>
		<key>version</key>
		<string>14.0</string>
	</dict>
	<key>/Applications/Utilities/Disk Utility.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1782</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>106951</string>
		<key>version</key>
		<string>17.0.3</string>
	</dict>
	<key>/Applications/Utilities/Keychain Access.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1782</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>106952</string>
		<key>version</key>
		<string>10.0</string>
	</dict>
	<key>/Applications/Utilities/System Information.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1782</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>106952</string>
		<key>version</key>
		<string>10.12</string>
	</dict>
	<key>/Applications/Utilities/Terminal.app</key>
	<dict>
		<key>foremost</key>
		<string>192</string>
		<key>open</key>
		<string>1782</string>
		<key>secondsforemost</key>
		<string>11557</string>
		<key>secondsopen</key>
		<string>106951</string>
		<key>version</key>
		<string>2.8.2</string>
	</dict>
	<key>/Applications/iMovie.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1782</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>106952</string>
		<key>version</key>
		<string>10.1.9</string>
	</dict>
	<key>/Applications/iTunes.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1782</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>106951</string>
		<key>version</key>
		<string>12.8</string>
	</dict>
	<key>/Library/Frameworks/Python.framework/Versions/3.6/Resources/Python.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1782</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>106951</string>
		<key>version</key>
		<string>3.6.5</string>
	</dict>
	<key>/Library/Internet Plug-Ins/JavaAppletPlugin.plugin/Contents/Resources/Java Updater.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1782</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>106951</string>
		<key>version</key>
		<string>1.0</string>
	</dict>
	<key>/System/Library/CoreServices/AirPlayUIAgent.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1782</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>106954</string>
		<key>version</key>
		<string>2.0</string>
	</dict>
	<key>/System/Library/CoreServices/Applications/Archive Utility.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1782</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>106954</string>
		<key>version</key>
		<string>10.10</string>
	</dict>
	<key>/System/Library/CoreServices/Applications/Network Utility.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1782</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>106952</string>
		<key>version</key>
		<string>1.9.2</string>
	</dict>
	<key>/System/Library/CoreServices/Captive Network Assistant.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1782</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>106954</string>
		<key>version</key>
		<string>5.0</string>
	</dict>
	<key>/System/Library/CoreServices/CoreServicesUIAgent.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1782</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>106953</string>
		<key>version</key>
		<string>180.7.6</string>
	</dict>
	<key>/System/Library/CoreServices/Dock.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1782</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>106953</string>
		<key>version</key>
		<string>1.8</string>
	</dict>
	<key>/System/Library/CoreServices/Finder.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>1782</string>
		<key>secondsforemost</key>
		<string>100</string>
		<key>secondsopen</key>
		<string>106951</string>
		<key>version</key>
		<string>10.13.5</string>
	</dict>
	<key>/System/Library/CoreServices/ScreenSaverEngine.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1782</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>106954</string>
		<key>version</key>
		<string>5.0</string>
	</dict>
	<key>/System/Library/CoreServices/SystemUIServer.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1782</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>106952</string>
		<key>version</key>
		<string>1.7</string>
	</dict>
	<key>/System/Library/CoreServices/UserNotificationCenter.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1782</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>106952</string>
		<key>version</key>
		<string>3.3.0</string>
	</dict>
	<key>/System/Library/CoreServices/loginwindow.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>1782</string>
		<key>secondsforemost</key>
		<string>17</string>
		<key>secondsopen</key>
		<string>106952</string>
		<key>version</key>
		<string>9.0</string>
	</dict>
	<key>/System/Library/Frameworks/QuickLook.framework/Versions/A/Resources/quicklookd.app/Contents/MacOS/qlmanage</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1782</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>106954</string>
		<key>version</key>
		<string>n/a</string>
	</dict>
	<key>/System/Library/Frameworks/Security.framework/Versions/A/MachServices/SecurityAgent.bundle</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1782</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>106951</string>
		<key>version</key>
		<string>9.0</string>
	</dict>
	<key>/Users/boesene/Applications/Android Studio.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1782</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>106954</string>
		<key>version</key>
		<string>3.2</string>
	</dict>
	<key>/Users/boesene/Applications/Firefox Nightly.app</key>
	<dict>
		<key>foremost</key>
		<string>132</string>
		<key>open</key>
		<string>1782</string>
		<key>secondsforemost</key>
		<string>7953</string>
		<key>secondsopen</key>
		<string>106951</string>
		<key>version</key>
		<string>67.0a1</string>
	</dict>
	<key>/Users/boesene/Applications/GRIP.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1782</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>106952</string>
		<key>version</key>
		<string>v1.5.2-x64</string>
	</dict>
	<key>/Users/boesene/Applications/Gimp-2.10.app</key>
	<dict>
		<key>foremost</key>
		<string>3</string>
		<key>open</key>
		<string>1793</string>
		<key>secondsforemost</key>
		<string>191</string>
		<key>secondsopen</key>
		<string>107627</string>
		<key>version</key>
		<string>2.10.4</string>
	</dict>
	<key>/Users/boesene/Applications/Google Chrome.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1782</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>106952</string>
		<key>version</key>
		<string>71.0.3578.98</string>
	</dict>
	<key>/Users/boesene/Library/Android/sdk/emulator</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1782</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>106951</string>
		<key>version</key>
		<string>n/a</string>
	</dict>
	<key>/Users/boesene/src/VictiScout/node_modules/electron/dist/Electron.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1782</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>106951</string>
		<key>version</key>
		<string>1.8.8</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/207D47D3-E239-480C-9B52-81314731C473/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1782</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>106952</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/2813E52F-BE07-4446-A1E7-4547BCE19A9E/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1782</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>106952</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/2DF175AF-6BDC-45F9-9B46-69A0A1E7EA3F/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1782</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>106954</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/4335AC5A-BF09-4B92-8822-ED7FC6573CFC/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1782</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>106951</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/46A0C501-D2D7-429D-A28D-FFFF927945D2/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1782</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>106954</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/62721C50-A3DF-4A7F-915D-B0DB21ED876D/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1782</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>106954</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/74DDFFEB-AB03-4FFC-89D1-E838C19652ED/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1782</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>106952</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/8AEC3660-5121-478B-9F10-0A45609B3B37/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1782</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>106952</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/92475C63-3120-4682-8751-AFA205FA62E6/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1782</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>106954</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/9EAF21EE-7D80-4727-9B01-E208E235C3BF/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>1782</string>
		<key>secondsforemost</key>
		<string>1</string>
		<key>secondsopen</key>
		<string>106927</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/B37BB6B0-0824-497D-AEEA-C8960B12AA66/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1782</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>106952</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/B6D66941-2B85-4767-B864-1875C454A527/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1782</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>106952</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/BD521708-02D0-4709-952D-E64A88B80390/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1782</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>106952</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/D0B8BBFC-ED4C-4F86-ADED-B5632FB0554B/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1782</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>106953</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/DDD96004-497E-4F0D-AE9C-323B02D5E779/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1782</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>106952</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/F667FE97-9DB2-462A-A847-9A2AC0144342/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1782</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>106952</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
</dict>
</plist>
