<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Applications/Microsoft PowerPoint.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1835</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>110132</string>
		<key>version</key>
		<string>15.29.16120900</string>
	</dict>
	<key>/Applications/Photo Booth.app</key>
	<dict>
		<key>foremost</key>
		<string>10</string>
		<key>open</key>
		<string>883</string>
		<key>secondsforemost</key>
		<string>600</string>
		<key>secondsopen</key>
		<string>53013</string>
		<key>version</key>
		<string>9.0</string>
	</dict>
	<key>/Applications/Preview.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>1822</string>
		<key>secondsforemost</key>
		<string>3</string>
		<key>secondsopen</key>
		<string>109332</string>
		<key>version</key>
		<string>10.0</string>
	</dict>
	<key>/Applications/QuickTime Player.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>844</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>50671</string>
		<key>version</key>
		<string>10.4</string>
	</dict>
	<key>/Applications/System Preferences.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1835</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>110132</string>
		<key>version</key>
		<string>14.0</string>
	</dict>
	<key>/Applications/Utilities/Terminal.app</key>
	<dict>
		<key>foremost</key>
		<string>15</string>
		<key>open</key>
		<string>1835</string>
		<key>secondsforemost</key>
		<string>934</string>
		<key>secondsopen</key>
		<string>110132</string>
		<key>version</key>
		<string>2.8.2</string>
	</dict>
	<key>/Applications/iMovie.app</key>
	<dict>
		<key>foremost</key>
		<string>10</string>
		<key>open</key>
		<string>1797</string>
		<key>secondsforemost</key>
		<string>648</string>
		<key>secondsopen</key>
		<string>107879</string>
		<key>version</key>
		<string>10.1.9</string>
	</dict>
	<key>/System/Library/CoreServices/Captive Network Assistant.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1835</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>110132</string>
		<key>version</key>
		<string>5.0</string>
	</dict>
	<key>/System/Library/CoreServices/Finder.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>1835</string>
		<key>secondsforemost</key>
		<string>97</string>
		<key>secondsopen</key>
		<string>110132</string>
		<key>version</key>
		<string>10.13.5</string>
	</dict>
	<key>/System/Library/CoreServices/SystemUIServer.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>1835</string>
		<key>secondsforemost</key>
		<string>18</string>
		<key>secondsopen</key>
		<string>110132</string>
		<key>version</key>
		<string>1.7</string>
	</dict>
	<key>/System/Library/CoreServices/loginwindow.app</key>
	<dict>
		<key>foremost</key>
		<string>14</string>
		<key>open</key>
		<string>1835</string>
		<key>secondsforemost</key>
		<string>881</string>
		<key>secondsopen</key>
		<string>110132</string>
		<key>version</key>
		<string>9.0</string>
	</dict>
	<key>/Users/boesene/Applications/Firefox Nightly.app</key>
	<dict>
		<key>foremost</key>
		<string>193</string>
		<key>open</key>
		<string>1835</string>
		<key>secondsforemost</key>
		<string>11602</string>
		<key>secondsopen</key>
		<string>110132</string>
		<key>version</key>
		<string>66.0a1</string>
	</dict>
	<key>/Users/boesene/Applications/Gimp-2.10.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1835</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>110132</string>
		<key>version</key>
		<string>2.10.4</string>
	</dict>
	<key>/Users/boesene/src/VictiScout/node_modules/electron/dist/Electron.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1835</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>110132</string>
		<key>version</key>
		<string>1.8.8</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/0D60BBE6-E87B-4010-8113-8AD9D050E9D2/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1835</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>110132</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/447CE4F7-496F-4B4A-A0BC-B3270458E229/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1835</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>110132</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
</dict>
</plist>
