<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Applications/Preview.app</key>
	<dict>
		<key>foremost</key>
		<string>3</string>
		<key>open</key>
		<string>481</string>
		<key>secondsforemost</key>
		<string>235</string>
		<key>secondsopen</key>
		<string>28880</string>
		<key>version</key>
		<string>10.0</string>
	</dict>
	<key>/Applications/System Preferences.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>203</string>
		<key>secondsforemost</key>
		<string>25</string>
		<key>secondsopen</key>
		<string>12231</string>
		<key>version</key>
		<string>14.0</string>
	</dict>
	<key>/Applications/Utilities/Disk Utility.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>158</string>
		<key>secondsforemost</key>
		<string>7</string>
		<key>secondsopen</key>
		<string>9483</string>
		<key>version</key>
		<string>17.0.3</string>
	</dict>
	<key>/Applications/Utilities/Terminal.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1795</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>107746</string>
		<key>version</key>
		<string>2.8.2</string>
	</dict>
	<key>/System/Library/CoreServices/Finder.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1795</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>107746</string>
		<key>version</key>
		<string>10.13.5</string>
	</dict>
	<key>/System/Library/CoreServices/ScreenSaverEngine.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>614</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>36842</string>
		<key>version</key>
		<string>5.0</string>
	</dict>
	<key>/System/Library/CoreServices/loginwindow.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1795</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>107746</string>
		<key>version</key>
		<string>9.0</string>
	</dict>
	<key>/Users/boesene/Applications/GRIP.app</key>
	<dict>
		<key>foremost</key>
		<string>6</string>
		<key>open</key>
		<string>196</string>
		<key>secondsforemost</key>
		<string>408</string>
		<key>secondsopen</key>
		<string>11775</string>
		<key>version</key>
		<string>v1.5.2-x64</string>
	</dict>
	<key>/Users/boesene/Library/Printers/GM-A123.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>500</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>30010</string>
		<key>version</key>
		<string>13.4</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/BD3146DD-C0D0-4479-9268-ED524B6276DA/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>614</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>36842</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
</dict>
</plist>
