<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Applications/Utilities/Disk Utility.app</key>
	<dict>
		<key>foremost</key>
		<string>3</string>
		<key>open</key>
		<string>214</string>
		<key>secondsforemost</key>
		<string>195</string>
		<key>secondsopen</key>
		<string>12857</string>
		<key>version</key>
		<string>17.0.3</string>
	</dict>
	<key>/Applications/Utilities/System Information.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>307</string>
		<key>secondsforemost</key>
		<string>23</string>
		<key>secondsopen</key>
		<string>18445</string>
		<key>version</key>
		<string>10.12</string>
	</dict>
	<key>/Applications/Utilities/Terminal.app</key>
	<dict>
		<key>foremost</key>
		<string>134</string>
		<key>open</key>
		<string>1795</string>
		<key>secondsforemost</key>
		<string>8059</string>
		<key>secondsopen</key>
		<string>107746</string>
		<key>version</key>
		<string>2.8.2</string>
	</dict>
	<key>/System/Library/CoreServices/Finder.app</key>
	<dict>
		<key>foremost</key>
		<string>16</string>
		<key>open</key>
		<string>1795</string>
		<key>secondsforemost</key>
		<string>981</string>
		<key>secondsopen</key>
		<string>107746</string>
		<key>version</key>
		<string>10.13.5</string>
	</dict>
	<key>/System/Library/CoreServices/ScreenSaverEngine.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1795</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>107746</string>
		<key>version</key>
		<string>5.0</string>
	</dict>
	<key>/System/Library/CoreServices/loginwindow.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>1795</string>
		<key>secondsforemost</key>
		<string>26</string>
		<key>secondsopen</key>
		<string>107746</string>
		<key>version</key>
		<string>9.0</string>
	</dict>
	<key>/System/Library/Frameworks/Security.framework/Versions/A/MachServices/SecurityAgent.bundle</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>261</string>
		<key>secondsforemost</key>
		<string>3</string>
		<key>secondsopen</key>
		<string>15683</string>
		<key>version</key>
		<string>9.0</string>
	</dict>
	<key>/Users/boesene/Applications/Firefox Nightly.app</key>
	<dict>
		<key>foremost</key>
		<string>253</string>
		<key>open</key>
		<string>613</string>
		<key>secondsforemost</key>
		<string>15211</string>
		<key>secondsopen</key>
		<string>36823</string>
		<key>version</key>
		<string>66.0a1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/BD3146DD-C0D0-4479-9268-ED524B6276DA/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>1795</string>
		<key>secondsforemost</key>
		<string>4</string>
		<key>secondsopen</key>
		<string>107746</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
</dict>
</plist>
