<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Applications/Calculator.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119423</string>
		<key>version</key>
		<string>10.13</string>
	</dict>
	<key>/Applications/Font Book.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119424</string>
		<key>version</key>
		<string>8.0</string>
	</dict>
	<key>/Applications/LockDown Browser.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119422</string>
		<key>version</key>
		<string>2.0.3</string>
	</dict>
	<key>/Applications/Mail.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119424</string>
		<key>version</key>
		<string>11.4</string>
	</dict>
	<key>/Applications/Microsoft Excel.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119422</string>
		<key>version</key>
		<string>15.29.16120900</string>
	</dict>
	<key>/Applications/Photo Booth.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119423</string>
		<key>version</key>
		<string>9.0</string>
	</dict>
	<key>/Applications/Preview.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119422</string>
		<key>version</key>
		<string>10.0</string>
	</dict>
	<key>/Applications/QuickTime Player.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119422</string>
		<key>version</key>
		<string>10.4</string>
	</dict>
	<key>/Applications/System Preferences.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119423</string>
		<key>version</key>
		<string>14.0</string>
	</dict>
	<key>/Applications/TextEdit.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119422</string>
		<key>version</key>
		<string>1.13</string>
	</dict>
	<key>/Applications/Utilities/Disk Utility.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119424</string>
		<key>version</key>
		<string>17.0.3</string>
	</dict>
	<key>/Applications/Utilities/Keychain Access.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119423</string>
		<key>version</key>
		<string>10.0</string>
	</dict>
	<key>/Applications/Utilities/System Information.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119422</string>
		<key>version</key>
		<string>10.12</string>
	</dict>
	<key>/Applications/Utilities/Terminal.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119423</string>
		<key>version</key>
		<string>2.8.2</string>
	</dict>
	<key>/Applications/iMovie.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119420</string>
		<key>version</key>
		<string>10.1.9</string>
	</dict>
	<key>/Applications/iTunes.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119422</string>
		<key>version</key>
		<string>12.8</string>
	</dict>
	<key>/Library/Frameworks/Python.framework/Versions/3.6/Resources/Python.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119422</string>
		<key>version</key>
		<string>3.6.5</string>
	</dict>
	<key>/Library/Internet Plug-Ins/JavaAppletPlugin.plugin/Contents/Home/bin/java</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119423</string>
		<key>version</key>
		<string>n/a</string>
	</dict>
	<key>/System/Library/CoreServices/AirPlayUIAgent.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119420</string>
		<key>version</key>
		<string>2.0</string>
	</dict>
	<key>/System/Library/CoreServices/Applications/Archive Utility.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119422</string>
		<key>version</key>
		<string>10.10</string>
	</dict>
	<key>/System/Library/CoreServices/Applications/Network Utility.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119420</string>
		<key>version</key>
		<string>1.9.2</string>
	</dict>
	<key>/System/Library/CoreServices/Captive Network Assistant.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119424</string>
		<key>version</key>
		<string>5.0</string>
	</dict>
	<key>/System/Library/CoreServices/CoreServicesUIAgent.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119423</string>
		<key>version</key>
		<string>180.7.6</string>
	</dict>
	<key>/System/Library/CoreServices/Dock.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119423</string>
		<key>version</key>
		<string>1.8</string>
	</dict>
	<key>/System/Library/CoreServices/Finder.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119422</string>
		<key>version</key>
		<string>10.13.5</string>
	</dict>
	<key>/System/Library/CoreServices/Installer.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119420</string>
		<key>version</key>
		<string>6.2.0</string>
	</dict>
	<key>/System/Library/CoreServices/Jar Launcher.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119421</string>
		<key>version</key>
		<string>15.0.1</string>
	</dict>
	<key>/System/Library/CoreServices/ScreenSaverEngine.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119423</string>
		<key>version</key>
		<string>5.0</string>
	</dict>
	<key>/System/Library/CoreServices/SystemUIServer.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119423</string>
		<key>version</key>
		<string>1.7</string>
	</dict>
	<key>/System/Library/CoreServices/UnmountAssistantAgent.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119423</string>
		<key>version</key>
		<string>5.0</string>
	</dict>
	<key>/System/Library/CoreServices/UserNotificationCenter.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119422</string>
		<key>version</key>
		<string>3.3.0</string>
	</dict>
	<key>/System/Library/CoreServices/loginwindow.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119422</string>
		<key>version</key>
		<string>9.0</string>
	</dict>
	<key>/System/Library/Frameworks/QuickLook.framework/Versions/A/Resources/quicklookd.app/Contents/MacOS/qlmanage</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119422</string>
		<key>version</key>
		<string>n/a</string>
	</dict>
	<key>/System/Library/Frameworks/Security.framework/Versions/A/MachServices/SecurityAgent.bundle</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119422</string>
		<key>version</key>
		<string>9.0</string>
	</dict>
	<key>/System/Library/Input Methods/CharacterPalette.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119422</string>
		<key>version</key>
		<string>2.0.1</string>
	</dict>
	<key>/System/Library/PrivateFrameworks/DiskImages.framework/Versions/A/Resources/DiskImages UI Agent.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119423</string>
		<key>version</key>
		<string>480.60.1</string>
	</dict>
	<key>/Users/boesene/Applications/Android Studio.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119420</string>
		<key>version</key>
		<string>3.2</string>
	</dict>
	<key>/Users/boesene/Applications/Arduino.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119422</string>
		<key>version</key>
		<string>1.8.7</string>
	</dict>
	<key>/Users/boesene/Applications/Audacity.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119420</string>
		<key>version</key>
		<string>2.3.1.0</string>
	</dict>
	<key>/Users/boesene/Applications/Deluge.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119423</string>
		<key>version</key>
		<string>1.3.15</string>
	</dict>
	<key>/Users/boesene/Applications/Firefox Nightly.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>254</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>15266</string>
		<key>version</key>
		<string>67.0a1</string>
	</dict>
	<key>/Users/boesene/Applications/Firefox Nightly.app/Contents/MacOS/crashreporter.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119422</string>
		<key>version</key>
		<string>1.0</string>
	</dict>
	<key>/Users/boesene/Applications/Gimp-2.10.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119424</string>
		<key>version</key>
		<string>2.10.4</string>
	</dict>
	<key>/Users/boesene/Applications/Gimp-2.10.app/Contents/Resources/lib/gimp/2.0/plug-ins/file-jpeg</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119423</string>
		<key>version</key>
		<string>n/a</string>
	</dict>
	<key>/Users/boesene/Applications/Gimp-2.10.app/Contents/Resources/lib/gimp/2.0/plug-ins/file-png</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119422</string>
		<key>version</key>
		<string>n/a</string>
	</dict>
	<key>/Users/boesene/Applications/Google Chrome.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119423</string>
		<key>version</key>
		<string>72.0.3626.109</string>
	</dict>
	<key>/Users/boesene/Applications/IntelliJ IDEA.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119422</string>
		<key>version</key>
		<string>2018.2.3</string>
	</dict>
	<key>/Users/boesene/Applications/System Preferences.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119422</string>
		<key>version</key>
		<string>14.0</string>
	</dict>
	<key>/Users/boesene/Applications/VLC.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119422</string>
		<key>version</key>
		<string>3.0.4</string>
	</dict>
	<key>/Users/boesene/Desktop/Transmission.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119420</string>
		<key>version</key>
		<string>2.94</string>
	</dict>
	<key>/Users/boesene/Library/Android/sdk/emulator</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119423</string>
		<key>version</key>
		<string>n/a</string>
	</dict>
	<key>/Users/boesene/Library/Printers/GM-A123.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119421</string>
		<key>version</key>
		<string>13.4</string>
	</dict>
	<key>/Users/boesene/Library/Printers/GM-Library Lab.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119423</string>
		<key>version</key>
		<string>13.4</string>
	</dict>
	<key>/Users/boesene/src/2019-dashboard/node_modules/electron/dist/Electron.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119422</string>
		<key>version</key>
		<string>1.7.10</string>
	</dict>
	<key>/Users/boesene/src/VictiScout/dist/VictiScout-darwin-x64/VictiScout.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119423</string>
		<key>version</key>
		<string>2.0.0</string>
	</dict>
	<key>/Users/boesene/src/VictiScout/node_modules/electron/dist/Electron.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119423</string>
		<key>version</key>
		<string>1.8.8</string>
	</dict>
	<key>/Users/boesene/src/frc5902_dashboard/node_modules/electron/dist/Electron.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119424</string>
		<key>version</key>
		<string>1.8.8</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/08B4640B-E5E1-45A7-9037-F61AC00B6DA3/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119423</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/10077A2F-F495-48DE-AA10-3503721262C3/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119424</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/10CA4250-FDBD-4A66-B230-CC0F7942F007/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119420</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/16A2C72B-EA58-4369-AF28-4512DE1BCD78/d/VictiScout.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119423</string>
		<key>version</key>
		<string>4.1.0</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/2199FB91-A4CF-458C-A673-C2375986DDA7/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119422</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/28503F0A-9D82-4FAB-9A4C-F91F20F8ED4E/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119422</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/2FF21999-AD18-4655-B119-0A5EF83E5C14/d/VictiScout.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119422</string>
		<key>version</key>
		<string>4.1.0</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/401FCBC3-F04B-4341-B7B7-870F47727A90/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119423</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/41E1C2D9-47BA-4289-890A-D5E0B1029723/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119420</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/53D98A71-2175-4060-82BB-794AE4B601EB/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119422</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/62D71BE4-9C12-415B-80A2-1EC81B17E103/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119423</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/71C9A27D-4E4D-47F9-8C7E-4EA0CC34EF81/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119420</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/7DA3A04B-6FF8-4A07-9084-EA2DEB87E766/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119423</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/83D50AC4-148B-4E43-8F1A-7321F0922924/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119422</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/8738FE2E-39C2-4C5B-8FD9-B307BF356368/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119422</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/8C6AEBB1-F0A5-46E0-A91F-8780B6B19ED3/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119422</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/9392D512-E67C-4D32-AB76-0F555B5A675F/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119420</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/A4782ED6-B01B-4EDD-A194-CB49C7D4251E/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119422</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/A6A2B276-3E61-473B-B545-B3EE3F37D500/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119422</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/AA345E1E-F312-4DD8-87D1-5CC38ADCD6B4/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119421</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/AF7547A6-BE63-4AC0-8A62-CE026EDBB720/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119420</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/B6E8B874-F5B5-49A6-A223-7A3E86B03E8A/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119420</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/BA9BC2A6-9BFD-45E6-AE5F-FABF4837717A/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119423</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/C76370EF-5F72-4CAA-BC12-67BDB02BE22D/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119423</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/CBC62E72-3109-49A6-AA82-A2EEC83708B0/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119420</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/E5A4C980-2F80-459A-99E1-C74D36A11108/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119422</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/E9F02394-1671-40EB-B9B0-EA5026CB4615/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119422</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/F2E87460-32EB-48C3-9F3D-1839DFE5B188/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119422</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/F706CDBD-992B-4A5D-9BA5-94FA9B098BDF/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119421</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/F76C0723-0408-4E0E-B507-F9D65DAFB6EA/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119422</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/FF5318E5-0E82-4214-A676-AF1D4335B549/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1990</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>119422</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
</dict>
</plist>
