<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lockMinutes</key>
	<string>254</string>
	<key>lockSeconds</key>
	<string>15267</string>
	<key>lockStartTime</key>
	<string>1557979200</string>
	<key>minutes</key>
	<string>0</string>
	<key>powerOffMinutes</key>
	<string>0</string>
	<key>powerOffSeconds</key>
	<string>0</string>
	<key>powerOffStartTime</key>
	<string>0</string>
	<key>screensaverMinutes</key>
	<string>0</string>
	<key>screensaverSeconds</key>
	<string>0</string>
	<key>screensaverStartTime</key>
	<string>0</string>
	<key>sleepMinutes</key>
	<string>254</string>
	<key>sleepSeconds</key>
	<string>15267</string>
	<key>sleepStartTime</key>
	<string>1557979200</string>
</dict>
</plist>
