<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Applications/Logger Pro 3/Logger Pro.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1620</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>97228</string>
		<key>version</key>
		<string>3.8.5.1</string>
	</dict>
	<key>/Applications/Preview.app</key>
	<dict>
		<key>foremost</key>
		<string>114</string>
		<key>open</key>
		<string>1653</string>
		<key>secondsforemost</key>
		<string>6848</string>
		<key>secondsopen</key>
		<string>99205</string>
		<key>version</key>
		<string>10.0</string>
	</dict>
	<key>/Applications/Utilities/Terminal.app</key>
	<dict>
		<key>foremost</key>
		<string>10</string>
		<key>open</key>
		<string>1620</string>
		<key>secondsforemost</key>
		<string>600</string>
		<key>secondsopen</key>
		<string>97228</string>
		<key>version</key>
		<string>2.8.2</string>
	</dict>
	<key>/System/Library/CoreServices/Captive Network Assistant.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1620</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>97228</string>
		<key>version</key>
		<string>5.0</string>
	</dict>
	<key>/System/Library/CoreServices/Finder.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>1620</string>
		<key>secondsforemost</key>
		<string>111</string>
		<key>secondsopen</key>
		<string>97228</string>
		<key>version</key>
		<string>10.13.5</string>
	</dict>
	<key>/System/Library/CoreServices/SystemUIServer.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>470</string>
		<key>secondsforemost</key>
		<string>86</string>
		<key>secondsopen</key>
		<string>28225</string>
		<key>version</key>
		<string>1.7</string>
	</dict>
	<key>/System/Library/CoreServices/loginwindow.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>1620</string>
		<key>secondsforemost</key>
		<string>41</string>
		<key>secondsopen</key>
		<string>97228</string>
		<key>version</key>
		<string>9.0</string>
	</dict>
	<key>/Users/boesene/Applications/Firefox Nightly.app</key>
	<dict>
		<key>foremost</key>
		<string>15</string>
		<key>open</key>
		<string>40</string>
		<key>secondsforemost</key>
		<string>922</string>
		<key>secondsopen</key>
		<string>2404</string>
		<key>version</key>
		<string>66.0a1</string>
	</dict>
	<key>/Users/boesene/Applications/Google Chrome.app</key>
	<dict>
		<key>foremost</key>
		<string>16</string>
		<key>open</key>
		<string>1549</string>
		<key>secondsforemost</key>
		<string>1018</string>
		<key>secondsopen</key>
		<string>92996</string>
		<key>version</key>
		<string>71.0.3578.98</string>
	</dict>
	<key>/Users/boesene/Library/Caches/Mozilla/updates/Users/boesene/Applications/Firefox Nightly/updates/0/updater.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1620</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>97228</string>
		<key>version</key>
		<string>1.0</string>
	</dict>
	<key>/Users/boesene/Library/Printers/GM-A123.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1620</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>97228</string>
		<key>version</key>
		<string>13.4</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/E9D2059B-61CB-4089-96B7-F8BA9BDAF816/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>40</string>
		<key>secondsforemost</key>
		<string>35</string>
		<key>secondsopen</key>
		<string>2431</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
</dict>
</plist>
