<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Applications/Dashboard.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1829</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109790</string>
		<key>version</key>
		<string>94025518</string>
	</dict>
	<key>/Applications/Dictionary.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1829</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109790</string>
		<key>version</key>
		<string>51963464</string>
	</dict>
	<key>/Applications/Launchpad.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1829</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109790</string>
		<key>version</key>
		<string>84706584</string>
	</dict>
	<key>/Applications/Logger Pro 3/Logger Pro.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1829</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109790</string>
		<key>version</key>
		<string>3.8.5.1</string>
	</dict>
	<key>/Applications/Maps.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1829</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109790</string>
		<key>version</key>
		<string>52736520</string>
	</dict>
	<key>/Applications/Microsoft OneNote.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1829</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109790</string>
		<key>version</key>
		<string>72499676</string>
	</dict>
	<key>/Applications/Microsoft Word.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1829</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109790</string>
		<key>version</key>
		<string>15.29.16120900</string>
	</dict>
	<key>/Applications/Mission Control.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1829</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109790</string>
		<key>version</key>
		<string>66200726</string>
	</dict>
	<key>/Applications/Preview.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1829</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109790</string>
		<key>version</key>
		<string>10.0</string>
	</dict>
	<key>/Applications/Safari.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1829</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109790</string>
		<key>version</key>
		<string>11.1.1</string>
	</dict>
	<key>/Applications/System Preferences.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1829</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109790</string>
		<key>version</key>
		<string>14.0</string>
	</dict>
	<key>/Applications/TextEdit.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1829</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109790</string>
		<key>version</key>
		<string>1.13</string>
	</dict>
	<key>/Applications/Time Machine.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1829</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109790</string>
		<key>version</key>
		<string>50887237</string>
	</dict>
	<key>/Applications/Utilities/Digital Color Meter.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1829</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109790</string>
		<key>version</key>
		<string>76160904</string>
	</dict>
	<key>/Applications/Utilities/Grab.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1829</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109790</string>
		<key>version</key>
		<string>72017391</string>
	</dict>
	<key>/Applications/Utilities/Grapher.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1829</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109790</string>
		<key>version</key>
		<string>14295743</string>
	</dict>
	<key>/Applications/Utilities/Keychain Access.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1829</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109790</string>
		<key>version</key>
		<string>36584726</string>
	</dict>
	<key>/Applications/Utilities/System Information.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1829</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109790</string>
		<key>version</key>
		<string>28249392</string>
	</dict>
	<key>/Applications/Utilities/Terminal.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>858</string>
		<key>secondsforemost</key>
		<string>34</string>
		<key>secondsopen</key>
		<string>51508</string>
		<key>version</key>
		<string>2.8.2</string>
	</dict>
	<key>/Applications/iMovie.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1829</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109790</string>
		<key>version</key>
		<string>70239107</string>
	</dict>
	<key>/Applications/iTunes.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1829</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109790</string>
		<key>version</key>
		<string>12.8</string>
	</dict>
	<key>/Library/Frameworks/Python.framework/Versions/3.6/Resources/Python.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1829</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109790</string>
		<key>version</key>
		<string>3.6.5</string>
	</dict>
	<key>/System/Library/CoreServices/Applications/Archive Utility.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1829</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109790</string>
		<key>version</key>
		<string>10.10</string>
	</dict>
	<key>/System/Library/CoreServices/Captive Network Assistant.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1829</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109790</string>
		<key>version</key>
		<string>5.0</string>
	</dict>
	<key>/System/Library/CoreServices/CoreServicesUIAgent.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1829</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109790</string>
		<key>version</key>
		<string>180.7.6</string>
	</dict>
	<key>/System/Library/CoreServices/Finder.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>858</string>
		<key>secondsforemost</key>
		<string>12</string>
		<key>secondsopen</key>
		<string>51507</string>
		<key>version</key>
		<string>10.13.5</string>
	</dict>
	<key>/System/Library/CoreServices/Problem Reporter.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1829</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109790</string>
		<key>version</key>
		<string>10.13</string>
	</dict>
	<key>/System/Library/CoreServices/ScreenSaverEngine.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1829</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109790</string>
		<key>version</key>
		<string>5.0</string>
	</dict>
	<key>/System/Library/CoreServices/SystemUIServer.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>620</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>37240</string>
		<key>version</key>
		<string>1.7</string>
	</dict>
	<key>/System/Library/CoreServices/UserNotificationCenter.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1829</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109790</string>
		<key>version</key>
		<string>3.3.0</string>
	</dict>
	<key>/System/Library/CoreServices/loginwindow.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>1829</string>
		<key>secondsforemost</key>
		<string>7</string>
		<key>secondsopen</key>
		<string>109790</string>
		<key>version</key>
		<string>9.0</string>
	</dict>
	<key>/System/Library/Frameworks/QuickLook.framework/Versions/A/Resources/quicklookd.app/Contents/MacOS/qlmanage</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1829</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109790</string>
		<key>version</key>
		<string>n/a</string>
	</dict>
	<key>/System/Library/Frameworks/Security.framework/Versions/A/MachServices/SecurityAgent.bundle</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>620</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>37240</string>
		<key>version</key>
		<string>9.0</string>
	</dict>
	<key>/System/Library/PrivateFrameworks/SpeechObjects.framework/Versions/A/SpeechDataInstallerd.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1829</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109790</string>
		<key>version</key>
		<string>7.5.1</string>
	</dict>
	<key>/Users/boesene/Applications/Firefox Nightly.app</key>
	<dict>
		<key>foremost</key>
		<string>125</string>
		<key>open</key>
		<string>858</string>
		<key>secondsforemost</key>
		<string>7530</string>
		<key>secondsopen</key>
		<string>51507</string>
		<key>version</key>
		<string>65.0a1</string>
	</dict>
	<key>/Users/boesene/Applications/Gimp-2.10.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>1829</string>
		<key>secondsforemost</key>
		<string>29</string>
		<key>secondsopen</key>
		<string>109772</string>
		<key>version</key>
		<string>2.10.4</string>
	</dict>
	<key>/Users/boesene/Applications/Google Chrome.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1829</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109790</string>
		<key>version</key>
		<string>70.0.3538.110</string>
	</dict>
	<key>/Users/boesene/Library/Caches/Mozilla/updates/Users/boesene/Applications/Firefox Nightly/updates/0/updater.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1829</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109790</string>
		<key>version</key>
		<string>1.0</string>
	</dict>
	<key>/Users/boesene/src/2018-dashboard/node_modules/electron/dist/Electron.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1829</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109790</string>
		<key>version</key>
		<string>1.7.10</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/225DFD89-5DDC-4341-8AC1-B662D5FB12AA/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1829</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109790</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/23858674-7101-4007-B38F-DA200C596A3A/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1829</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109790</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/59CE052B-BA9D-4C2F-85DD-3C2F8B675E7F/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1829</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109790</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/5A51467B-F212-44B3-AD75-696E7DE8F5BE/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1829</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109790</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/87764D84-83D2-4596-99A3-297560EAD63E/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>2</string>
		<key>open</key>
		<string>858</string>
		<key>secondsforemost</key>
		<string>147</string>
		<key>secondsopen</key>
		<string>51507</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/931D1597-B0FE-4AB1-85A4-64436FD3EE5F/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1829</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109790</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/C3B3A511-8E46-4057-A89B-0164E3E230C1/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1829</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109790</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/EFF251E6-8352-499D-A70E-19A438576463/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1829</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109790</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/FA01E1C8-F07A-4D40-8BAE-CDDEDC9414F5/d/GitHub Desktop.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1829</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>109790</string>
		<key>version</key>
		<string>1.5.0</string>
	</dict>
</dict>
</plist>
