<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Applications/Logger Pro 3/Logger Pro.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1919</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>115193</string>
		<key>version</key>
		<string>3.8.5.1</string>
	</dict>
	<key>/Applications/Preview.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1919</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>115193</string>
		<key>version</key>
		<string>10.0</string>
	</dict>
	<key>/Applications/Safari.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1919</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>115193</string>
		<key>version</key>
		<string>11.1.1</string>
	</dict>
	<key>/Applications/System Preferences.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1919</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>115193</string>
		<key>version</key>
		<string>14.0</string>
	</dict>
	<key>/Applications/Utilities/Terminal.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1919</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>115193</string>
		<key>version</key>
		<string>2.8.2</string>
	</dict>
	<key>/System/Library/Frameworks/QuickLook.framework/Versions/A/Resources/quicklookd.app/Contents/MacOS/qlmanage</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1919</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>115193</string>
		<key>version</key>
		<string>n/a</string>
	</dict>
	<key>/Users/boesene/Applications/Gimp-2.10.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1919</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>115193</string>
		<key>version</key>
		<string>2.10.4</string>
	</dict>
	<key>/Users/boesene/Applications/Gimp-2.10.app/Contents/Resources/lib/gimp/2.0/plug-ins/file-png</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1919</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>115193</string>
		<key>version</key>
		<string>n/a</string>
	</dict>
	<key>/Users/boesene/Applications/Gimp-2.10.app/Contents/Resources/lib/gimp/2.0/plug-ins/file-svg</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1919</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>115193</string>
		<key>version</key>
		<string>n/a</string>
	</dict>
	<key>/Users/boesene/Applications/Google Chrome.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1919</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>115193</string>
		<key>version</key>
		<string>71.0.3578.98</string>
	</dict>
	<key>/Users/boesene/Library/Caches/Mozilla/updates/Users/boesene/Applications/Firefox Nightly/updates/0/updater.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1033</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>62021</string>
		<key>version</key>
		<string>1.0</string>
	</dict>
	<key>/Users/boesene/Library/Printers/GM-A123.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1919</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>115193</string>
		<key>version</key>
		<string>13.4</string>
	</dict>
	<key>/Users/boesene/Library/Printers/GM-Library Lab.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>729</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>43770</string>
		<key>version</key>
		<string>13.4</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/6C40D096-2F65-4B7C-A2AE-AA423A1CF930/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1919</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>115193</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
</dict>
</plist>
