<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Applications/Logger Pro 3/Logger Pro.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1919</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>115193</string>
		<key>version</key>
		<string>3.8.5.1</string>
	</dict>
	<key>/Applications/Preview.app</key>
	<dict>
		<key>foremost</key>
		<string>2</string>
		<key>open</key>
		<string>1919</string>
		<key>secondsforemost</key>
		<string>120</string>
		<key>secondsopen</key>
		<string>115156</string>
		<key>version</key>
		<string>10.0</string>
	</dict>
	<key>/Applications/Utilities/Terminal.app</key>
	<dict>
		<key>foremost</key>
		<string>12</string>
		<key>open</key>
		<string>1919</string>
		<key>secondsforemost</key>
		<string>732</string>
		<key>secondsopen</key>
		<string>115193</string>
		<key>version</key>
		<string>2.8.2</string>
	</dict>
	<key>/System/Library/CoreServices/Captive Network Assistant.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1919</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>115193</string>
		<key>version</key>
		<string>5.0</string>
	</dict>
	<key>/System/Library/CoreServices/Finder.app</key>
	<dict>
		<key>foremost</key>
		<string>2</string>
		<key>open</key>
		<string>1919</string>
		<key>secondsforemost</key>
		<string>150</string>
		<key>secondsopen</key>
		<string>115193</string>
		<key>version</key>
		<string>10.13.5</string>
	</dict>
	<key>/System/Library/CoreServices/loginwindow.app</key>
	<dict>
		<key>foremost</key>
		<string>66</string>
		<key>open</key>
		<string>1919</string>
		<key>secondsforemost</key>
		<string>4003</string>
		<key>secondsopen</key>
		<string>115193</string>
		<key>version</key>
		<string>9.0</string>
	</dict>
	<key>/Users/boesene/Applications/Firefox Nightly.app</key>
	<dict>
		<key>foremost</key>
		<string>359</string>
		<key>open</key>
		<string>1919</string>
		<key>secondsforemost</key>
		<string>21551</string>
		<key>secondsopen</key>
		<string>115193</string>
		<key>version</key>
		<string>65.0a1</string>
	</dict>
	<key>/Users/boesene/Applications/Google Chrome.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1919</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>115193</string>
		<key>version</key>
		<string>71.0.3578.98</string>
	</dict>
	<key>/Users/boesene/Library/Caches/Mozilla/updates/Users/boesene/Applications/Firefox Nightly/updates/0/updater.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1846</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>110777</string>
		<key>version</key>
		<string>1.0</string>
	</dict>
	<key>/Users/boesene/Library/Printers/GM-A123.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1917</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>115079</string>
		<key>version</key>
		<string>13.4</string>
	</dict>
</dict>
</plist>
