<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Applications/App Store.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>553</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>33225</string>
		<key>version</key>
		<string>2.4</string>
	</dict>
	<key>/Applications/Calculator.app</key>
	<dict>
		<key>foremost</key>
		<string>1029815</string>
		<key>open</key>
		<string>393378</string>
		<key>secondsforemost</key>
		<string>61788925</string>
		<key>secondsopen</key>
		<string>23602738</string>
		<key>version</key>
		<string>34924628</string>
	</dict>
	<key>/Applications/Dictionary.app</key>
	<dict>
		<key>foremost</key>
		<string>139903</string>
		<key>open</key>
		<string>1635388</string>
		<key>secondsforemost</key>
		<string>8394183</string>
		<key>secondsopen</key>
		<string>98123305</string>
		<key>version</key>
		<string>60184029</string>
	</dict>
	<key>/Applications/Image Capture.app</key>
	<dict>
		<key>foremost</key>
		<string>629608</string>
		<key>open</key>
		<string>858976</string>
		<key>secondsforemost</key>
		<string>37776520</string>
		<key>secondsopen</key>
		<string>51538596</string>
		<key>version</key>
		<string>39620668</string>
	</dict>
	<key>/Applications/Launchpad.app</key>
	<dict>
		<key>foremost</key>
		<string>337596</string>
		<key>open</key>
		<string>341958</string>
		<key>secondsforemost</key>
		<string>20255791</string>
		<key>secondsopen</key>
		<string>20517519</string>
		<key>version</key>
		<string>68534905</string>
	</dict>
	<key>/Applications/LockDown Browser.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>553</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>33225</string>
		<key>version</key>
		<string>2.0.3</string>
	</dict>
	<key>/Applications/Logger Pro 3/Logger Pro.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>553</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>33225</string>
		<key>version</key>
		<string>3.8.5.1</string>
	</dict>
	<key>/Applications/McAfee Endpoint Protection for Mac.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>553</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>33225</string>
		<key>version</key>
		<string>2.3.0</string>
	</dict>
	<key>/Applications/Microsoft Outlook.app</key>
	<dict>
		<key>foremost</key>
		<string>662852</string>
		<key>open</key>
		<string>821939</string>
		<key>secondsforemost</key>
		<string>39771133</string>
		<key>secondsopen</key>
		<string>49316351</string>
		<key>version</key>
		<string>97808164</string>
	</dict>
	<key>/Applications/Preview.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>553</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>33225</string>
		<key>version</key>
		<string>10.0</string>
	</dict>
	<key>/Applications/Reminders.app</key>
	<dict>
		<key>foremost</key>
		<string>802332</string>
		<key>open</key>
		<string>263705</string>
		<key>secondsforemost</key>
		<string>48139932</string>
		<key>secondsopen</key>
		<string>15822311</string>
		<key>version</key>
		<string>88432559</string>
	</dict>
	<key>/Applications/Self Service.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>553</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>33225</string>
		<key>version</key>
		<string>10.6.0</string>
	</dict>
	<key>/Applications/System Preferences.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>554</string>
		<key>secondsforemost</key>
		<string>64</string>
		<key>secondsopen</key>
		<string>33290</string>
		<key>version</key>
		<string>14.0</string>
	</dict>
	<key>/Applications/TextEdit.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>350</string>
		<key>secondsforemost</key>
		<string>2</string>
		<key>secondsopen</key>
		<string>21017</string>
		<key>version</key>
		<string>1.13</string>
	</dict>
	<key>/Applications/Time Machine.app</key>
	<dict>
		<key>foremost</key>
		<string>72392</string>
		<key>open</key>
		<string>840351</string>
		<key>secondsforemost</key>
		<string>4343564</string>
		<key>secondsopen</key>
		<string>50421083</string>
		<key>version</key>
		<string>5213745</string>
	</dict>
	<key>/Applications/Utilities/Activity Monitor.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>369</string>
		<key>secondsforemost</key>
		<string>39</string>
		<key>secondsopen</key>
		<string>22153</string>
		<key>version</key>
		<string>10.13</string>
	</dict>
	<key>/Applications/Utilities/Boot Camp Assistant.app</key>
	<dict>
		<key>foremost</key>
		<string>671508</string>
		<key>open</key>
		<string>94509</string>
		<key>secondsforemost</key>
		<string>40290485</string>
		<key>secondsopen</key>
		<string>5670579</string>
		<key>version</key>
		<string>51915145</string>
	</dict>
	<key>/Applications/Utilities/Grapher.app</key>
	<dict>
		<key>foremost</key>
		<string>1196924</string>
		<key>open</key>
		<string>937979</string>
		<key>secondsforemost</key>
		<string>71815457</string>
		<key>secondsopen</key>
		<string>56278789</string>
		<key>version</key>
		<string>30685983</string>
	</dict>
	<key>/Applications/Utilities/Script Editor.app</key>
	<dict>
		<key>foremost</key>
		<string>1413517</string>
		<key>open</key>
		<string>1354564</string>
		<key>secondsforemost</key>
		<string>84811078</string>
		<key>secondsopen</key>
		<string>81273862</string>
		<key>version</key>
		<string>74586127</string>
	</dict>
	<key>/Applications/Utilities/Terminal.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>553</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>33225</string>
		<key>version</key>
		<string>2.8.2</string>
	</dict>
	<key>/Applications/iMovie.app</key>
	<dict>
		<key>foremost</key>
		<string>744858</string>
		<key>open</key>
		<string>116378</string>
		<key>secondsforemost</key>
		<string>44691491</string>
		<key>secondsopen</key>
		<string>6982700</string>
		<key>version</key>
		<string>92991582</string>
	</dict>
	<key>/Applications/iTunes.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>553</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>33225</string>
		<key>version</key>
		<string>12.8</string>
	</dict>
	<key>/Library/Frameworks/Python.framework/Versions/3.6/Resources/Python.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>269</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>16183</string>
		<key>version</key>
		<string>3.6.5</string>
	</dict>
	<key>/System/Library/CoreServices/Applications/Archive Utility.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>553</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>33225</string>
		<key>version</key>
		<string>10.10</string>
	</dict>
	<key>/System/Library/CoreServices/CoreServicesUIAgent.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>87</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>5277</string>
		<key>version</key>
		<string>180.7.6</string>
	</dict>
	<key>/System/Library/CoreServices/UserNotificationCenter.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>87</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>5277</string>
		<key>version</key>
		<string>3.3.0</string>
	</dict>
	<key>/System/Library/Frameworks/QuickLook.framework/Versions/A/Resources/quicklookd.app/Contents/MacOS/qlmanage</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>554</string>
		<key>secondsforemost</key>
		<string>52</string>
		<key>secondsopen</key>
		<string>33264</string>
		<key>version</key>
		<string>n/a</string>
	</dict>
	<key>/System/Library/Frameworks/Security.framework/Versions/A/MachServices/SecurityAgent.bundle</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>87</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>5277</string>
		<key>version</key>
		<string>9.0</string>
	</dict>
	<key>/Users/boesene/Applications/Firefox Nightly.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>87</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>5277</string>
		<key>version</key>
		<string>65.0a1</string>
	</dict>
	<key>/Users/boesene/Applications/Gimp-2.10.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>553</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>33225</string>
		<key>version</key>
		<string>2.10.4</string>
	</dict>
	<key>/Users/boesene/Applications/Gimp-2.10.app/Contents/Resources/lib/gimp/2.0/plug-ins/file-png</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>553</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>33225</string>
		<key>version</key>
		<string>n/a</string>
	</dict>
	<key>/Users/boesene/Applications/Google Chrome.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>553</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>33225</string>
		<key>version</key>
		<string>70.0.3538.110</string>
	</dict>
	<key>/Users/boesene/Library/Printers/GM-Library Lab.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>553</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>33225</string>
		<key>version</key>
		<string>13.4</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/931D1597-B0FE-4AB1-85A4-64436FD3EE5F/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>87</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>5277</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
</dict>
</plist>
