<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Applications/Dashboard.app</key>
	<dict>
		<key>foremost</key>
		<string>330002</string>
		<key>open</key>
		<string>281078</string>
		<key>secondsforemost</key>
		<string>19800177</string>
		<key>secondsopen</key>
		<string>16864717</string>
		<key>version</key>
		<string>94025518</string>
	</dict>
	<key>/Applications/Dictionary.app</key>
	<dict>
		<key>foremost</key>
		<string>872845</string>
		<key>open</key>
		<string>1350520</string>
		<key>secondsforemost</key>
		<string>52370749</string>
		<key>secondsopen</key>
		<string>81031222</string>
		<key>version</key>
		<string>51963464</string>
	</dict>
	<key>/Applications/Launchpad.app</key>
	<dict>
		<key>foremost</key>
		<string>605696</string>
		<key>open</key>
		<string>1146511</string>
		<key>secondsforemost</key>
		<string>36341803</string>
		<key>secondsopen</key>
		<string>68790714</string>
		<key>version</key>
		<string>84706584</string>
	</dict>
	<key>/Applications/Logger Pro 3/Logger Pro.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>553</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>33225</string>
		<key>version</key>
		<string>3.8.5.1</string>
	</dict>
	<key>/Applications/Maps.app</key>
	<dict>
		<key>foremost</key>
		<string>397893</string>
		<key>open</key>
		<string>361324</string>
		<key>secondsforemost</key>
		<string>23873633</string>
		<key>secondsopen</key>
		<string>21679476</string>
		<key>version</key>
		<string>52736520</string>
	</dict>
	<key>/Applications/Microsoft OneNote.app</key>
	<dict>
		<key>foremost</key>
		<string>306931</string>
		<key>open</key>
		<string>531096</string>
		<key>secondsforemost</key>
		<string>18415901</string>
		<key>secondsopen</key>
		<string>31865784</string>
		<key>version</key>
		<string>72499676</string>
	</dict>
	<key>/Applications/Mission Control.app</key>
	<dict>
		<key>foremost</key>
		<string>724380</string>
		<key>open</key>
		<string>1579826</string>
		<key>secondsforemost</key>
		<string>43462808</string>
		<key>secondsopen</key>
		<string>94789573</string>
		<key>version</key>
		<string>66200726</string>
	</dict>
	<key>/Applications/Preview.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>485</string>
		<key>secondsforemost</key>
		<string>7</string>
		<key>secondsopen</key>
		<string>29153</string>
		<key>version</key>
		<string>10.0</string>
	</dict>
	<key>/Applications/System Preferences.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>489</string>
		<key>secondsforemost</key>
		<string>37</string>
		<key>secondsopen</key>
		<string>29398</string>
		<key>version</key>
		<string>14.0</string>
	</dict>
	<key>/Applications/Time Machine.app</key>
	<dict>
		<key>foremost</key>
		<string>1189715</string>
		<key>open</key>
		<string>966032</string>
		<key>secondsforemost</key>
		<string>71382904</string>
		<key>secondsopen</key>
		<string>57961957</string>
		<key>version</key>
		<string>50887237</string>
	</dict>
	<key>/Applications/Utilities/Digital Color Meter.app</key>
	<dict>
		<key>foremost</key>
		<string>588555</string>
		<key>open</key>
		<string>482790</string>
		<key>secondsforemost</key>
		<string>35313310</string>
		<key>secondsopen</key>
		<string>28967417</string>
		<key>version</key>
		<string>76160904</string>
	</dict>
	<key>/Applications/Utilities/Grab.app</key>
	<dict>
		<key>foremost</key>
		<string>1314974</string>
		<key>open</key>
		<string>1593974</string>
		<key>secondsforemost</key>
		<string>78898470</string>
		<key>secondsopen</key>
		<string>95638443</string>
		<key>version</key>
		<string>72017391</string>
	</dict>
	<key>/Applications/Utilities/Grapher.app</key>
	<dict>
		<key>foremost</key>
		<string>1324772</string>
		<key>open</key>
		<string>361378</string>
		<key>secondsforemost</key>
		<string>79486373</string>
		<key>secondsopen</key>
		<string>21682739</string>
		<key>version</key>
		<string>14295743</string>
	</dict>
	<key>/Applications/Utilities/Keychain Access.app</key>
	<dict>
		<key>foremost</key>
		<string>1207979</string>
		<key>open</key>
		<string>1034923</string>
		<key>secondsforemost</key>
		<string>72478746</string>
		<key>secondsopen</key>
		<string>62095380</string>
		<key>version</key>
		<string>36584726</string>
	</dict>
	<key>/Applications/Utilities/System Information.app</key>
	<dict>
		<key>foremost</key>
		<string>443849</string>
		<key>open</key>
		<string>345608</string>
		<key>secondsforemost</key>
		<string>26630968</string>
		<key>secondsopen</key>
		<string>20736527</string>
		<key>version</key>
		<string>28249392</string>
	</dict>
	<key>/Applications/Utilities/Terminal.app</key>
	<dict>
		<key>foremost</key>
		<string>89</string>
		<key>open</key>
		<string>553</string>
		<key>secondsforemost</key>
		<string>5365</string>
		<key>secondsopen</key>
		<string>33225</string>
		<key>version</key>
		<string>2.8.2</string>
	</dict>
	<key>/Applications/iMovie.app</key>
	<dict>
		<key>foremost</key>
		<string>1501415</string>
		<key>open</key>
		<string>1524594</string>
		<key>secondsforemost</key>
		<string>90084906</string>
		<key>secondsopen</key>
		<string>91475661</string>
		<key>version</key>
		<string>70239107</string>
	</dict>
	<key>/Applications/iTunes.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>553</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>33225</string>
		<key>version</key>
		<string>12.8</string>
	</dict>
	<key>/System/Library/CoreServices/Captive Network Assistant.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>553</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>33225</string>
		<key>version</key>
		<string>5.0</string>
	</dict>
	<key>/System/Library/CoreServices/CoreServicesUIAgent.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>465</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>27948</string>
		<key>version</key>
		<string>180.7.6</string>
	</dict>
	<key>/System/Library/CoreServices/Finder.app</key>
	<dict>
		<key>foremost</key>
		<string>10</string>
		<key>open</key>
		<string>553</string>
		<key>secondsforemost</key>
		<string>617</string>
		<key>secondsopen</key>
		<string>33225</string>
		<key>version</key>
		<string>10.13.5</string>
	</dict>
	<key>/System/Library/CoreServices/UserNotificationCenter.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>465</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>27948</string>
		<key>version</key>
		<string>3.3.0</string>
	</dict>
	<key>/System/Library/CoreServices/loginwindow.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>553</string>
		<key>secondsforemost</key>
		<string>49</string>
		<key>secondsopen</key>
		<string>33225</string>
		<key>version</key>
		<string>9.0</string>
	</dict>
	<key>/System/Library/Frameworks/Security.framework/Versions/A/MachServices/SecurityAgent.bundle</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>465</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>27948</string>
		<key>version</key>
		<string>9.0</string>
	</dict>
	<key>/Users/boesene/Applications/Firefox Nightly.app</key>
	<dict>
		<key>foremost</key>
		<string>146</string>
		<key>open</key>
		<string>465</string>
		<key>secondsforemost</key>
		<string>8813</string>
		<key>secondsopen</key>
		<string>27948</string>
		<key>version</key>
		<string>65.0a1</string>
	</dict>
	<key>/Users/boesene/Applications/Gimp-2.10.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>553</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>33225</string>
		<key>version</key>
		<string>2.10.4</string>
	</dict>
	<key>/Users/boesene/Applications/Google Chrome.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>553</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>33225</string>
		<key>version</key>
		<string>70.0.3538.110</string>
	</dict>
	<key>/Users/boesene/Library/Caches/Mozilla/updates/Users/boesene/Applications/Firefox Nightly/updates/0/updater.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>553</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>33225</string>
		<key>version</key>
		<string>1.0</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/225DFD89-5DDC-4341-8AC1-B662D5FB12AA/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>553</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>33225</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/931D1597-B0FE-4AB1-85A4-64436FD3EE5F/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>465</string>
		<key>secondsforemost</key>
		<string>8</string>
		<key>secondsopen</key>
		<string>27948</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
</dict>
</plist>
