<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Applications/Microsoft PowerPoint.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1759</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>105551</string>
		<key>version</key>
		<string>15.29.16120900</string>
	</dict>
	<key>/Applications/Photo Booth.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1759</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>105551</string>
		<key>version</key>
		<string>9.0</string>
	</dict>
	<key>/Applications/Preview.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1759</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>105551</string>
		<key>version</key>
		<string>10.0</string>
	</dict>
	<key>/Applications/System Preferences.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1759</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>105551</string>
		<key>version</key>
		<string>14.0</string>
	</dict>
	<key>/Applications/Utilities/Disk Utility.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1759</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>105551</string>
		<key>version</key>
		<string>17.0.3</string>
	</dict>
	<key>/Applications/Utilities/Terminal.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>797</string>
		<key>secondsforemost</key>
		<string>13</string>
		<key>secondsopen</key>
		<string>47849</string>
		<key>version</key>
		<string>2.8.2</string>
	</dict>
	<key>/System/Library/CoreServices/Captive Network Assistant.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>115</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>6905</string>
		<key>version</key>
		<string>5.0</string>
	</dict>
	<key>/System/Library/Frameworks/QuickLook.framework/Versions/A/Resources/quicklookd.app/Contents/MacOS/qlmanage</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1759</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>105551</string>
		<key>version</key>
		<string>n/a</string>
	</dict>
	<key>/Users/boesene/Applications/Gimp-2.10.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1759</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>105551</string>
		<key>version</key>
		<string>2.10.4</string>
	</dict>
	<key>/Users/boesene/Applications/Gimp-2.10.app/Contents/Resources/lib/gimp/2.0/plug-ins/file-png</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1759</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>105551</string>
		<key>version</key>
		<string>n/a</string>
	</dict>
	<key>/Users/boesene/Library/Printers/GM-Library Lab.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1759</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>105551</string>
		<key>version</key>
		<string>13.4</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/0D60BBE6-E87B-4010-8113-8AD9D050E9D2/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>115</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>6905</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
</dict>
</plist>
