<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Applications/Microsoft PowerPoint.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>902</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>54179</string>
		<key>version</key>
		<string>15.29.16120900</string>
	</dict>
	<key>/Applications/Preview.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1759</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>105551</string>
		<key>version</key>
		<string>10.0</string>
	</dict>
	<key>/Applications/System Preferences.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>1747</string>
		<key>secondsforemost</key>
		<string>23</string>
		<key>secondsopen</key>
		<string>104852</string>
		<key>version</key>
		<string>14.0</string>
	</dict>
	<key>/Applications/Utilities/Terminal.app</key>
	<dict>
		<key>foremost</key>
		<string>18</string>
		<key>open</key>
		<string>1724</string>
		<key>secondsforemost</key>
		<string>1123</string>
		<key>secondsopen</key>
		<string>103480</string>
		<key>version</key>
		<string>2.8.2</string>
	</dict>
	<key>/System/Library/CoreServices/Captive Network Assistant.app</key>
	<dict>
		<key>foremost</key>
		<string>2</string>
		<key>open</key>
		<string>329</string>
		<key>secondsforemost</key>
		<string>172</string>
		<key>secondsopen</key>
		<string>19760</string>
		<key>version</key>
		<string>5.0</string>
	</dict>
	<key>/System/Library/CoreServices/Finder.app</key>
	<dict>
		<key>foremost</key>
		<string>4</string>
		<key>open</key>
		<string>1759</string>
		<key>secondsforemost</key>
		<string>268</string>
		<key>secondsopen</key>
		<string>105551</string>
		<key>version</key>
		<string>10.13.5</string>
	</dict>
	<key>/System/Library/CoreServices/loginwindow.app</key>
	<dict>
		<key>foremost</key>
		<string>702</string>
		<key>open</key>
		<string>1759</string>
		<key>secondsforemost</key>
		<string>42153</string>
		<key>secondsopen</key>
		<string>105551</string>
		<key>version</key>
		<string>9.0</string>
	</dict>
	<key>/Users/boesene/Applications/Firefox Nightly.app</key>
	<dict>
		<key>foremost</key>
		<string>375</string>
		<key>open</key>
		<string>1759</string>
		<key>secondsforemost</key>
		<string>22547</string>
		<key>secondsopen</key>
		<string>105548</string>
		<key>version</key>
		<string>66.0a1</string>
	</dict>
	<key>/Users/boesene/Applications/Gimp-2.10.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1759</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>105551</string>
		<key>version</key>
		<string>2.10.4</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/0D60BBE6-E87B-4010-8113-8AD9D050E9D2/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>47</string>
		<key>secondsforemost</key>
		<string>45</string>
		<key>secondsopen</key>
		<string>2856</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/447CE4F7-496F-4B4A-A0BC-B3270458E229/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1759</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>105551</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
</dict>
</plist>
