<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Applications/Font Book.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>2014</string>
		<key>secondsforemost</key>
		<string>14</string>
		<key>secondsopen</key>
		<string>120868</string>
		<key>version</key>
		<string>8.0</string>
	</dict>
	<key>/Applications/LockDown Browser.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>2014</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>120857</string>
		<key>version</key>
		<string>2.0.3</string>
	</dict>
	<key>/Applications/Photo Booth.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>2014</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>120857</string>
		<key>version</key>
		<string>9.0</string>
	</dict>
	<key>/Applications/Preview.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>2014</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>120856</string>
		<key>version</key>
		<string>10.0</string>
	</dict>
	<key>/Applications/System Preferences.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>2014</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>120857</string>
		<key>version</key>
		<string>14.0</string>
	</dict>
	<key>/Applications/Utilities/Disk Utility.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>2014</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>120857</string>
		<key>version</key>
		<string>17.0.3</string>
	</dict>
	<key>/Applications/iTunes.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>2014</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>120857</string>
		<key>version</key>
		<string>12.8</string>
	</dict>
	<key>/Library/Frameworks/Python.framework/Versions/3.6/Resources/Python.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>653</string>
		<key>secondsforemost</key>
		<string>3</string>
		<key>secondsopen</key>
		<string>39187</string>
		<key>version</key>
		<string>3.6.5</string>
	</dict>
	<key>/System/Library/CoreServices/Applications/Archive Utility.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>2014</string>
		<key>secondsforemost</key>
		<string>1</string>
		<key>secondsopen</key>
		<string>120858</string>
		<key>version</key>
		<string>10.10</string>
	</dict>
	<key>/System/Library/CoreServices/Captive Network Assistant.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>2014</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>120857</string>
		<key>version</key>
		<string>5.0</string>
	</dict>
	<key>/System/Library/CoreServices/ScreenSaverEngine.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>940</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>56413</string>
		<key>version</key>
		<string>5.0</string>
	</dict>
	<key>/System/Library/CoreServices/UserNotificationCenter.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>940</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>56413</string>
		<key>version</key>
		<string>3.3.0</string>
	</dict>
	<key>/Users/boesene/Applications/GRIP.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>2014</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>120856</string>
		<key>version</key>
		<string>v1.5.2-x64</string>
	</dict>
	<key>/Users/boesene/Applications/Gimp-2.10.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>2090</string>
		<key>secondsforemost</key>
		<string>95</string>
		<key>secondsopen</key>
		<string>125430</string>
		<key>version</key>
		<string>2.10.4</string>
	</dict>
	<key>/Users/boesene/Applications/Gimp-2.10.app/Contents/Resources/lib/gimp/2.0/plug-ins/file-png</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>2014</string>
		<key>secondsforemost</key>
		<string>11</string>
		<key>secondsopen</key>
		<string>120865</string>
		<key>version</key>
		<string>n/a</string>
	</dict>
	<key>/Users/boesene/Applications/Gimp-2.10.app/Contents/Resources/lib/gimp/2.0/plug-ins/file-ps</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>2014</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>120856</string>
		<key>version</key>
		<string>n/a</string>
	</dict>
	<key>/Users/boesene/Applications/Google Chrome.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>2014</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>120856</string>
		<key>version</key>
		<string>71.0.3578.98</string>
	</dict>
	<key>/Users/boesene/Library/Printers/GM-Library Lab.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>2014</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>120856</string>
		<key>version</key>
		<string>13.4</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/2331E536-52DF-41D4-951C-334A6EDA615F/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>2014</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>120857</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/2DF175AF-6BDC-45F9-9B46-69A0A1E7EA3F/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>2014</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>120856</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/4AF23D5D-A0A1-476E-A4CA-6B1CF39705F3/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>2014</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>120856</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/62721C50-A3DF-4A7F-915D-B0DB21ED876D/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>940</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>56413</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/68589DEA-744F-49F9-AA7E-CEC86835DD8A/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>2014</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>120856</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/B6D66941-2B85-4767-B864-1875C454A527/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>2014</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>120857</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/DDD96004-497E-4F0D-AE9C-323B02D5E779/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>2014</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>120856</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
</dict>
</plist>
