<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Applications/App Store.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87124</string>
		<key>version</key>
		<string>2.4</string>
	</dict>
	<key>/Applications/Font Book.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87125</string>
		<key>version</key>
		<string>8.0</string>
	</dict>
	<key>/Applications/Houseparty.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87124</string>
		<key>version</key>
		<string>1.10.1</string>
	</dict>
	<key>/Applications/LockDown Browser.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87124</string>
		<key>version</key>
		<string>2.0.3</string>
	</dict>
	<key>/Applications/Logger Pro 3/Logger Pro.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87124</string>
		<key>version</key>
		<string>3.8.5.1</string>
	</dict>
	<key>/Applications/Microsoft Excel.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87124</string>
		<key>version</key>
		<string>15.29.16120900</string>
	</dict>
	<key>/Applications/Microsoft Word.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87125</string>
		<key>version</key>
		<string>15.29.16120900</string>
	</dict>
	<key>/Applications/Photo Booth.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87125</string>
		<key>version</key>
		<string>9.0</string>
	</dict>
	<key>/Applications/Preview.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87124</string>
		<key>version</key>
		<string>10.0</string>
	</dict>
	<key>/Applications/QuickTime Player.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87125</string>
		<key>version</key>
		<string>10.4</string>
	</dict>
	<key>/Applications/System Preferences.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87124</string>
		<key>version</key>
		<string>14.0</string>
	</dict>
	<key>/Applications/Utilities/Disk Utility.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87124</string>
		<key>version</key>
		<string>17.0.3</string>
	</dict>
	<key>/Applications/Utilities/System Information.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87124</string>
		<key>version</key>
		<string>10.12</string>
	</dict>
	<key>/Applications/iMovie.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87124</string>
		<key>version</key>
		<string>10.1.9</string>
	</dict>
	<key>/Applications/iTunes.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87124</string>
		<key>version</key>
		<string>12.8</string>
	</dict>
	<key>/Library/Frameworks/Python.framework/Versions/3.6/Resources/Python.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87124</string>
		<key>version</key>
		<string>3.6.5</string>
	</dict>
	<key>/Library/Internet Plug-Ins/JavaAppletPlugin.plugin/Contents/Home/bin/java</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87124</string>
		<key>version</key>
		<string>n/a</string>
	</dict>
	<key>/Library/Internet Plug-Ins/JavaAppletPlugin.plugin/Contents/Resources/Java Updater.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87124</string>
		<key>version</key>
		<string>1.0</string>
	</dict>
	<key>/System/Library/CoreServices/AirPlayUIAgent.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87125</string>
		<key>version</key>
		<string>2.0</string>
	</dict>
	<key>/System/Library/CoreServices/Applications/Archive Utility.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87125</string>
		<key>version</key>
		<string>10.10</string>
	</dict>
	<key>/System/Library/CoreServices/Applications/Network Utility.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87124</string>
		<key>version</key>
		<string>1.9.2</string>
	</dict>
	<key>/System/Library/CoreServices/Captive Network Assistant.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87125</string>
		<key>version</key>
		<string>5.0</string>
	</dict>
	<key>/System/Library/CoreServices/CoreServicesUIAgent.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87125</string>
		<key>version</key>
		<string>180.7.6</string>
	</dict>
	<key>/System/Library/CoreServices/ScreenSaverEngine.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87125</string>
		<key>version</key>
		<string>5.0</string>
	</dict>
	<key>/System/Library/CoreServices/UserNotificationCenter.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87124</string>
		<key>version</key>
		<string>3.3.0</string>
	</dict>
	<key>/System/Library/Frameworks/QuickLook.framework/Versions/A/Resources/quicklookd.app/Contents/MacOS/qlmanage</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87125</string>
		<key>version</key>
		<string>n/a</string>
	</dict>
	<key>/System/Library/Frameworks/Security.framework/Versions/A/MachServices/SecurityAgent.bundle</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87124</string>
		<key>version</key>
		<string>9.0</string>
	</dict>
	<key>/Users/admin/eclipse/jee-2018-09/Eclipse.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87124</string>
		<key>version</key>
		<string>4.9.0</string>
	</dict>
	<key>/Users/boesene/Applications/Android Studio.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87125</string>
		<key>version</key>
		<string>3.2</string>
	</dict>
	<key>/Users/boesene/Applications/Firefox Nightly.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87124</string>
		<key>version</key>
		<string>66.0a1</string>
	</dict>
	<key>/Users/boesene/Applications/GRIP.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87124</string>
		<key>version</key>
		<string>v1.5.2-x64</string>
	</dict>
	<key>/Users/boesene/Applications/Gimp-2.10.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87124</string>
		<key>version</key>
		<string>2.10.4</string>
	</dict>
	<key>/Users/boesene/Applications/Gimp-2.10.app/Contents/Resources/lib/gimp/2.0/plug-ins/file-png</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87124</string>
		<key>version</key>
		<string>n/a</string>
	</dict>
	<key>/Users/boesene/Applications/Gimp-2.10.app/Contents/Resources/lib/gimp/2.0/plug-ins/file-ps</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87124</string>
		<key>version</key>
		<string>n/a</string>
	</dict>
	<key>/Users/boesene/Applications/Gimp-2.10.app/Contents/Resources/lib/gimp/2.0/plug-ins/file-svg</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87124</string>
		<key>version</key>
		<string>n/a</string>
	</dict>
	<key>/Users/boesene/Applications/Google Chrome.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87124</string>
		<key>version</key>
		<string>71.0.3578.98</string>
	</dict>
	<key>/Users/boesene/Applications/System Preferences.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87124</string>
		<key>version</key>
		<string>14.0</string>
	</dict>
	<key>/Users/boesene/Library/Android/sdk/emulator</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87124</string>
		<key>version</key>
		<string>n/a</string>
	</dict>
	<key>/Users/boesene/Library/Printers/GM-Library Lab.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87124</string>
		<key>version</key>
		<string>13.4</string>
	</dict>
	<key>/Users/boesene/src/VictiScout/node_modules/electron/dist/Electron.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87124</string>
		<key>version</key>
		<string>1.8.8</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/2331E536-52DF-41D4-951C-334A6EDA615F/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87124</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/2813E52F-BE07-4446-A1E7-4547BCE19A9E/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87124</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/287B4863-9B57-4489-9C87-5D2EE3E60FF4/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87124</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/2DF175AF-6BDC-45F9-9B46-69A0A1E7EA3F/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87125</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/4335AC5A-BF09-4B92-8822-ED7FC6573CFC/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87124</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/46A0C501-D2D7-429D-A28D-FFFF927945D2/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87125</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/4AF23D5D-A0A1-476E-A4CA-6B1CF39705F3/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87124</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/5F0FFFEA-D416-48A4-AE75-1576B7AB6CDF/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87124</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/62721C50-A3DF-4A7F-915D-B0DB21ED876D/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87125</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/68589DEA-744F-49F9-AA7E-CEC86835DD8A/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87124</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/7C113FAF-86A1-48A4-953F-168EB9883A06/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87125</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/8AEC3660-5121-478B-9F10-0A45609B3B37/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87124</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/96F7BB9F-0481-4EC8-92FC-EEB3EFF38321/d/GitHub Desktop.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87124</string>
		<key>version</key>
		<string>1.6.1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/B37BB6B0-0824-497D-AEEA-C8960B12AA66/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87124</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/B6D66941-2B85-4767-B864-1875C454A527/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87124</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/B9FF9009-D917-4F7C-B2AF-C9C58F0F2599/d/GitHub Desktop.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87124</string>
		<key>version</key>
		<string>1.6.1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/BD521708-02D0-4709-952D-E64A88B80390/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87124</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/D0B8BBFC-ED4C-4F86-ADED-B5632FB0554B/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87124</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/DDD96004-497E-4F0D-AE9C-323B02D5E779/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1452</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>87124</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
</dict>
</plist>
