<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Applications/Microsoft PowerPoint.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1643</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>98612</string>
		<key>version</key>
		<string>15.29.16120900</string>
	</dict>
	<key>/Applications/Photo Booth.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1643</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>98612</string>
		<key>version</key>
		<string>9.0</string>
	</dict>
	<key>/Applications/Preview.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1635</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>98133</string>
		<key>version</key>
		<string>10.0</string>
	</dict>
	<key>/Applications/QuickTime Player.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1643</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>98612</string>
		<key>version</key>
		<string>10.4</string>
	</dict>
	<key>/Applications/System Preferences.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1643</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>98612</string>
		<key>version</key>
		<string>14.0</string>
	</dict>
	<key>/Applications/Utilities/Disk Utility.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>265</string>
		<key>secondsforemost</key>
		<string>64</string>
		<key>secondsopen</key>
		<string>15956</string>
		<key>version</key>
		<string>17.0.3</string>
	</dict>
	<key>/Applications/Utilities/Terminal.app</key>
	<dict>
		<key>foremost</key>
		<string>52</string>
		<key>open</key>
		<string>1643</string>
		<key>secondsforemost</key>
		<string>3144</string>
		<key>secondsopen</key>
		<string>98612</string>
		<key>version</key>
		<string>2.8.2</string>
	</dict>
	<key>/Applications/iMovie.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1643</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>98612</string>
		<key>version</key>
		<string>10.1.9</string>
	</dict>
	<key>/Applications/iTunes.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1643</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>98612</string>
		<key>version</key>
		<string>12.8</string>
	</dict>
	<key>/System/Library/CoreServices/Captive Network Assistant.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1643</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>98612</string>
		<key>version</key>
		<string>5.0</string>
	</dict>
	<key>/System/Library/CoreServices/Finder.app</key>
	<dict>
		<key>foremost</key>
		<string>2</string>
		<key>open</key>
		<string>1643</string>
		<key>secondsforemost</key>
		<string>136</string>
		<key>secondsopen</key>
		<string>98612</string>
		<key>version</key>
		<string>10.13.5</string>
	</dict>
	<key>/System/Library/CoreServices/SystemUIServer.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>1643</string>
		<key>secondsforemost</key>
		<string>5</string>
		<key>secondsopen</key>
		<string>98612</string>
		<key>version</key>
		<string>1.7</string>
	</dict>
	<key>/System/Library/CoreServices/UserNotificationCenter.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>294</string>
		<key>secondsforemost</key>
		<string>9</string>
		<key>secondsopen</key>
		<string>17669</string>
		<key>version</key>
		<string>3.3.0</string>
	</dict>
	<key>/System/Library/CoreServices/loginwindow.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>1643</string>
		<key>secondsforemost</key>
		<string>114</string>
		<key>secondsopen</key>
		<string>98612</string>
		<key>version</key>
		<string>9.0</string>
	</dict>
	<key>/Users/boesene/Applications/Firefox Nightly.app</key>
	<dict>
		<key>foremost</key>
		<string>207</string>
		<key>open</key>
		<string>1643</string>
		<key>secondsforemost</key>
		<string>12478</string>
		<key>secondsopen</key>
		<string>98609</string>
		<key>version</key>
		<string>66.0a1</string>
	</dict>
	<key>/Users/boesene/Applications/Gimp-2.10.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1643</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>98612</string>
		<key>version</key>
		<string>2.10.4</string>
	</dict>
	<key>/Users/boesene/src/VictiScout/node_modules/electron/dist/Electron.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>1639</string>
		<key>secondsforemost</key>
		<string>6</string>
		<key>secondsopen</key>
		<string>98380</string>
		<key>version</key>
		<string>1.8.8</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/0D60BBE6-E87B-4010-8113-8AD9D050E9D2/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1643</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>98612</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/447CE4F7-496F-4B4A-A0BC-B3270458E229/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1643</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>98612</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/A62D9FA8-37F4-418D-A17A-17D0AF1CE791/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1643</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>98585</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
</dict>
</plist>
