<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Applications/LockDown Browser.app</key>
	<dict>
		<key>foremost</key>
		<string>2</string>
		<key>open</key>
		<string>810</string>
		<key>secondsforemost</key>
		<string>174</string>
		<key>secondsopen</key>
		<string>48639</string>
		<key>version</key>
		<string>2.0.3</string>
	</dict>
	<key>/Applications/Mail.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1907</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>114430</string>
		<key>version</key>
		<string>11.4</string>
	</dict>
	<key>/Applications/Preview.app</key>
	<dict>
		<key>foremost</key>
		<string>2</string>
		<key>open</key>
		<string>925</string>
		<key>secondsforemost</key>
		<string>163</string>
		<key>secondsopen</key>
		<string>55512</string>
		<key>version</key>
		<string>10.0</string>
	</dict>
	<key>/Applications/System Preferences.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>1907</string>
		<key>secondsforemost</key>
		<string>16</string>
		<key>secondsopen</key>
		<string>114447</string>
		<key>version</key>
		<string>14.0</string>
	</dict>
	<key>/Applications/Utilities/Terminal.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1112</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>66760</string>
		<key>version</key>
		<string>2.8.2</string>
	</dict>
	<key>/Library/Frameworks/Python.framework/Versions/3.6/Resources/Python.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>483</string>
		<key>secondsforemost</key>
		<string>51</string>
		<key>secondsopen</key>
		<string>28985</string>
		<key>version</key>
		<string>3.6.5</string>
	</dict>
	<key>/System/Library/CoreServices/Finder.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1112</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>66760</string>
		<key>version</key>
		<string>10.13.5</string>
	</dict>
	<key>/System/Library/CoreServices/ScreenSaverEngine.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1112</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>66760</string>
		<key>version</key>
		<string>5.0</string>
	</dict>
	<key>/System/Library/CoreServices/loginwindow.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1112</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>66760</string>
		<key>version</key>
		<string>9.0</string>
	</dict>
	<key>/System/Library/Frameworks/Security.framework/Versions/A/MachServices/SecurityAgent.bundle</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>139</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>8392</string>
		<key>version</key>
		<string>9.0</string>
	</dict>
	<key>/Users/boesene/Applications/Firefox Nightly.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>2047</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>122822</string>
		<key>version</key>
		<string>67.0a1</string>
	</dict>
	<key>/Users/boesene/Applications/Gimp-2.10.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>1916</string>
		<key>secondsforemost</key>
		<string>91</string>
		<key>secondsopen</key>
		<string>114989</string>
		<key>version</key>
		<string>2.10.4</string>
	</dict>
	<key>/Users/boesene/Applications/Gimp-2.10.app/Contents/Resources/lib/gimp/2.0/plug-ins/file-jpeg</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>1907</string>
		<key>secondsforemost</key>
		<string>2</string>
		<key>secondsopen</key>
		<string>114432</string>
		<key>version</key>
		<string>n/a</string>
	</dict>
	<key>/Users/boesene/Applications/Gimp-2.10.app/Contents/Resources/lib/gimp/2.0/plug-ins/file-png</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>1907</string>
		<key>secondsforemost</key>
		<string>7</string>
		<key>secondsopen</key>
		<string>114436</string>
		<key>version</key>
		<string>n/a</string>
	</dict>
	<key>/Users/boesene/Library/Printers/GM-A123.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>752</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>45159</string>
		<key>version</key>
		<string>13.4</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/2199FB91-A4CF-458C-A673-C2375986DDA7/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>139</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>8392</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/BA9BC2A6-9BFD-45E6-AE5F-FABF4837717A/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>980</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>58833</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
</dict>
</plist>
