<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Applications/Preview.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>1902</string>
		<key>secondsforemost</key>
		<string>4</string>
		<key>secondsopen</key>
		<string>114177</string>
		<key>version</key>
		<string>10.0</string>
	</dict>
	<key>/Applications/Utilities/Terminal.app</key>
	<dict>
		<key>foremost</key>
		<string>325</string>
		<key>open</key>
		<string>1822</string>
		<key>secondsforemost</key>
		<string>19542</string>
		<key>secondsopen</key>
		<string>109330</string>
		<key>version</key>
		<string>2.8.2</string>
	</dict>
	<key>/Library/Frameworks/Python.framework/Versions/3.6/Resources/Python.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>390</string>
		<key>secondsforemost</key>
		<string>78</string>
		<key>secondsopen</key>
		<string>23440</string>
		<key>version</key>
		<string>3.6.5</string>
	</dict>
	<key>/System/Library/CoreServices/Finder.app</key>
	<dict>
		<key>foremost</key>
		<string>2</string>
		<key>open</key>
		<string>1822</string>
		<key>secondsforemost</key>
		<string>177</string>
		<key>secondsopen</key>
		<string>109330</string>
		<key>version</key>
		<string>10.13.5</string>
	</dict>
	<key>/System/Library/CoreServices/ScreenSaverEngine.app</key>
	<dict>
		<key>foremost</key>
		<string>6</string>
		<key>open</key>
		<string>1822</string>
		<key>secondsforemost</key>
		<string>403</string>
		<key>secondsopen</key>
		<string>109330</string>
		<key>version</key>
		<string>5.0</string>
	</dict>
	<key>/System/Library/CoreServices/loginwindow.app</key>
	<dict>
		<key>foremost</key>
		<string>17</string>
		<key>open</key>
		<string>1822</string>
		<key>secondsforemost</key>
		<string>1075</string>
		<key>secondsopen</key>
		<string>109330</string>
		<key>version</key>
		<string>9.0</string>
	</dict>
	<key>/System/Library/Frameworks/QuickLook.framework/Versions/A/Resources/quicklookd.app/Contents/MacOS/qlmanage</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>553</string>
		<key>secondsforemost</key>
		<string>9</string>
		<key>secondsopen</key>
		<string>33218</string>
		<key>version</key>
		<string>n/a</string>
	</dict>
	<key>/System/Library/Frameworks/Security.framework/Versions/A/MachServices/SecurityAgent.bundle</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>1822</string>
		<key>secondsforemost</key>
		<string>1</string>
		<key>secondsopen</key>
		<string>109330</string>
		<key>version</key>
		<string>9.0</string>
	</dict>
	<key>/Users/boesene/Applications/Firefox Nightly.app</key>
	<dict>
		<key>foremost</key>
		<string>335</string>
		<key>open</key>
		<string>1822</string>
		<key>secondsforemost</key>
		<string>20132</string>
		<key>secondsopen</key>
		<string>109330</string>
		<key>version</key>
		<string>67.0a1</string>
	</dict>
	<key>/Users/boesene/Applications/Gimp-2.10.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1922</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>115376</string>
		<key>version</key>
		<string>2.10.4</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/2199FB91-A4CF-458C-A673-C2375986DDA7/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>1791</string>
		<key>secondsforemost</key>
		<string>70</string>
		<key>secondsopen</key>
		<string>107484</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/28503F0A-9D82-4FAB-9A4C-F91F20F8ED4E/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>1</string>
		<key>open</key>
		<string>123</string>
		<key>secondsforemost</key>
		<string>14</string>
		<key>secondsopen</key>
		<string>7439</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
	<key>/private/var/folders/1d/5gzzbybd5b5f5r8rh7rk5ych5mnzzx/T/AppTranslocation/BA9BC2A6-9BFD-45E6-AE5F-FABF4837717A/d/Spotify.app</key>
	<dict>
		<key>foremost</key>
		<string>0</string>
		<key>open</key>
		<string>1922</string>
		<key>secondsforemost</key>
		<string>0</string>
		<key>secondsopen</key>
		<string>115376</string>
		<key>version</key>
		<string>1.0.88.353.g15c26ea1</string>
	</dict>
</dict>
</plist>
